<app-page-header title="Embed-SDK" title1="Home" activeitem="Embed-SDK"></app-page-header>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <form #sdkForm="ngForm" (ngSubmit)="submitSDKKeys()">
            <div class="form-group">
                <!-- App Name -->
                <label for="appName">APP Name
                    <i ngbTooltip="Enter a unique name..." class="icon icon-info ms-1 cursor-pointer"></i>
                </label>
                <div style=" width: 50%;">
                    <input type="text" id="appName" [readonly]="disableSDKName" name="appName" [(ngModel)]="userName" required
                        style="width: 100%; padding: 10px; padding-right: 40px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" />
                </div>

                <!-- API Base URL -->
                <label for="apiBaseUrl">API Base URL
                    <i ngbTooltip="Enter base URL..." class="icon icon-info ms-1 cursor-pointer"></i>
                </label>
                <div style="width: 50%;">
                    <input type="text" id="apiBaseUrl" [readonly]="disableSDKName" name="apiBaseUrl" [(ngModel)]="apibaseurl" required
                        style="width: 100%; padding: 10px; padding-right: 40px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" />
                </div>

                <!-- Select Dashboard -->
                <label for="dashboardName">Select Dashboard
                    <i ngbTooltip="Choose dashboard..." class="icon icon-info ms-1 cursor-pointer"></i>
                </label>
                <div style="width: 50%;">
                    <select id="dashboardId" name="dashboardName" class="form-select form-select select2 fs-14"
                        [(ngModel)]="selectedDashboardId" required>
                        <option value="0" disabled selected>Select a Dashboard</option>
                        <option *ngFor="let dashboard of dashboardList" [value]="dashboard.dashboard_id">
                            {{dashboard.dashboard_name}}
                        </option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!sdkForm.valid">Generate SDK</button>
        </form>
    </div>
    @if(displayScript){
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <textarea rows="25" style="width: 100%; font-family: monospace;" readonly>
           {{scriptContent}}
            </textarea>
    </div>
}
</div>