   <!-- PAGE-HEADER -->
   <div class="page-header d-flex align-items-center justify-content-between border-bottom mb-2">
    <h1 class="page-title">{{title}}</h1>
    <div *ngIf="!multiLevel">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/insights/home">{{title1}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{activeitem}}</li>
        </ol>
    </div>
    <div *ngIf="multiLevel">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/insights/home">{{title1}}</a></li>
            <li class="breadcrumb-item"><a href="{{title2Route}}">{{title2}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{activeitem}}</li>
        </ol>
    </div>
</div>

<!-- PAGE-HEADER END -->