<app-page-header title="Database" title1="home" activeitem="dashboard"></app-page-header>


<div class="main-container container-fluid">
    <div class="row" class="card" style="padding: 20px;">
    <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
      <div class="d-flex justify-content-between px-5">
        <div class="connect-txt">
          <h4 class="card-title mt-2">Sheets Dashboard</h4>
        </div>
        <div class="new-data-btn">
          <div class="input-group">
            <input type="text" class="form-control border-end-0 " placeholder="Search Database Server" [(ngModel)]="sheetName" (keyup.enter)="searchUserList()" aria-describedby="button-addon2" >
            <button class="btn btn-primary border me-2" type="button" id="button-addon2" style="border-radius: 0px 4px 4px 0px;"><i class="fe fe-search "></i></button>
            
          </div>
        </div>
    </div>
        <div class="card-body">
            <div class="table-responsive" style="height: 26rem;">
                <table class="table border text-nowrap text-md-nowrap mb-0">
                    <thead class="table-primary" style="position: sticky;top: -1px;background-color: #00a5a2;">
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let sheets of savedSheetsList | paginate : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      }">
                        <tr>
                            <td >
                                <a  style="color: #05aff8;cursor: pointer;" ngbTooltip="{{sheets.sheet_name}}" > {{sheets.sheet_name | slice:0:15}}</a>
                               </td>
                               <td>{{sheets.created}}</td>
                            <td>{{sheets.Modified}}</td>
                            <td>
                                
                               <!-- <button type="button" class="btn btn-icon btn-secondary rounded-pill"><i class="fa fa-trash-o" data-bs-toggle="tooltip" ngbTooltip="Delete sheet"></i></button>  -->
                            <a aria-label="anchor"  class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                <i class="ri-delete-bin-7-line" ngbTooltip="Delete database"></i>
                        </a>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChangegetUserSheetsList((page = $event))"></pagination-controls>
        </div>
    </div>
    </div>
  </div>