<app-page-header title="Sheets List" moduleId="sheets" title1="Home" activeitem="Sheets"></app-page-header>


<div class="main-container container-fluid">

    <div class="row" class="card card-padding-top">
    <div class="col-sm-12 col-lg-12 col-xl-12 p-0">
      <div class="d-flex justify-content-between px-5">
        <div class="connect-txt">
          <h4 class="card-title mt-2">Sheets</h4>
        </div>
        <div class="new-data-btn d-flex text-align-center">
          <button *ngIf="gridView" type="button" class="btn btn-icon btn-outline-primary me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="gridView" type="button"  (click)="gridView=false" class="btn btn-icon btn-primary-light me-3" ><i class="fa fa-th-list"></i></button>

          <button *ngIf="!gridView" type="button" (click)="gridView=true" class="btn btn-icon btn-primary-light me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="!gridView" type="button" class="btn btn-icon btn-outline-primary me-3" ><i class="fa fa-th-list"></i></button>


          <div class="input-group">
            <select [(ngModel)]="selectedSheetList" (change)="pageNo = 1;loadSelectedSheetList('fromSelect');getValuesForSheetRoute($event);"  class="form-select form-select select2 fs-14 form-control border-end me-3" >
              <option value="0">All</option>
              @for(sheetlist of sheetsList;track sheetlist.id){
                <option value="{{sheetlist.id}}" [attr.data-dbid]="sheetlist.hierarchy_id" [attr.data-field]="sheetlist.datasource_queryset_id">{{sheetlist.queryset_name}}</option>
              }
  
          </select>
            <input type="text" class="form-control border-end-0 " placeholder="Search" [(ngModel)]="sheetName" (keyup.enter)="searchUserList()" aria-describedby="button-addon2" >
            <button class="btn btn-primary border me-2 search-icon-border-radius" (click)="searchUserList()" type="button" id="button-addon2" ><i class="fe fe-search "></i></button>
            <button type="button" class="btn btn-primary new-sheet-btn-radius" (click)="sheetsRoute()"><i class="fa fa-plus"></i> New Sheet</button>

          </div>
        </div>
    </div>
    <div *ngIf="viewSheetList && savedSheetsList.length === 0">
      No Sheets to display!
    </div>
    <div *ngIf="!viewSheetList">
      You don't have permission to view!
    </div>
        <div *ngIf="viewSheetList" class="card-body">
          @if(!gridView){
            <div class="table-responsive border table-responsive-height">
                <table class="table border text-nowrap text-md-nowrap mb-0">
                    <thead class="table-primary bg-primary table-primary-position">
                        <tr>
                            <th>Title</th>
                            <!-- <th>Created On</th> -->
                            <th>Last Modified</th>
                            <th>Database Name</th>
                            <th>Queryset Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let sheets of savedSheetsList | paginate : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      }">
                        <tr>
                            <td >
                              <!-- <img *ngIf="sheets.chart_id === 1" src="./assets/images/Tiled view sheet icons/table-tiled-icon.jpg" class="w-5 h-5 border me-2">
                              <img *ngIf="sheets.chart_id === 1" src="./assets/images/icons/postSQL-icon.jpg" class="w-5 h-5 border me-2"> -->

                              <div class="d-flex">
                                <div class="imgdf">
                                  <!-- <span class="avatar bg-light avatar-md mb-1 avatar-radius me-2">
                                    <img *ngIf="sheets.chart_id === 6" src="./assets/images/Tiled view sheet icons/bar-tiled-icon.jpg" alt="" class="avatar-radius">
                                </span> -->
                                <img *ngIf="sheets.chart_id === 1" src="./assets/images/Tiled view sheet icons/table-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 6" src="./assets/images/Tiled view sheet icons/bar-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 17" src="./assets/images/Tiled view sheet icons/area-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 13" src="./assets/images/Tiled view sheet icons/line-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 24" src="./assets/images/Tiled view sheet icons/pie-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 7" src="./assets/images/Tiled view sheet icons/sideBar-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 5" src="./assets/images/Tiled view sheet icons/Stacked-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 4" src="./assets/images/Tiled view sheet icons/BarLine-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 2" src="./assets/images/Tiled view sheet icons/Hstacked-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 3" src="./assets/images/Tiled view sheet icons/HGrouped-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 8" src="../assets/images/charts/heatmap-new.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 10" src="./assets/images/Tiled view sheet icons/donut-tiled-icon.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 12" src="./assets/images/charts/spider.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 25" src="./assets/images/charts/kpi-icon.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 26" src="./assets/images/charts/heatmap-new.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 27" src="./assets/images/charts/funnelChart-icon.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 28" src="./assets/images/charts/gauge-icon-new.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 29" src="./assets/images/charts/world-map.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 11" src="./assets/images/charts/calendar-chart.png" alt="" class="w-7 h-7 border rounded-3  me-4">
                                            <img *ngIf="sheets.chart_id === 9" src="./assets/images/charts/pivot-chart.jpg" alt="" class="w-7 h-7 border rounded-3  me-4">

                              </div>
                              <div class="content">
                                <span>Sheet Name: </span>
                                <a class="cursor-pointer" ngbTooltip="{{sheets.sheet_name}}" (click)="viewSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)" > {{sheets.sheet_name | slice:0:15}}</a>
                                <p class="mb-0">Created by: {{sheets.created_by}}</p>
                              </div>
                          </div>                                  
                            </td>
                            <td>{{sheets.Modified}}</td>
                            <td [ngbTooltip]="sheets.database_name.length > 15 ? sheets.database_name : null" [container]="'body'">  {{ sheets.database_name.length > 15 ? (sheets.database_name | slice: 0: 15) + '...' : sheets.database_name }}</td>
                            <td [ngbTooltip]="sheets.queryset_name?.length > 15 ? sheets.queryset_name : null" [container]="'body'">{{ sheets.queryset_name?.length > 15 ? (sheets.queryset_name | slice: 0: 15) + '...' : sheets.queryset_name }}</td>
                            <td>
                              <div class="hstack gap-2 fs-1">
                                <app-insights-button [classesList]="'btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light'"
                                  [previledgeId]="18" [isBtn]="false"
                                  (btnClickEvent)="viewSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)"
                                  [toolTip]="'Edit'" [faIconList]="'ri-edit-line'" [isIcon]="true"></app-insights-button>
                                <app-insights-button [classesList]="'btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light'"
                                  [previledgeId]="19" [isBtn]="false" [toolTip]="'Delete sheet'"
                                  (btnClickEvent)="deleteSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)"
                                  [faIconList]="'ri-delete-bin-7-line'" [isIcon]="true"></app-insights-button>
                              
                              </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          }
          @if(gridView){
            <!-- <div class="row">
          <div *ngFor="let sheets of savedSheetsList | paginate : {
            itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: totalItems
          }" class="col-md-12 col-lg-12 col-xl-6 col-xxl-3">
            <div class="card user-card shadow-none">
                <div class="user-image">
                  <div class="card-icon-top">   </div>
                    <span class="avatar avatar-xl rounded-circle">
                      <img *ngIf="sheets.chart_id === 1" src="./assets/images/Tiled view sheet icons/table-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 6" src="./assets/images/Tiled view sheet icons/bar-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 17" src="./assets/images/Tiled view sheet icons/area-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 13" src="./assets/images/Tiled view sheet icons/line-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 24" src="./assets/images/Tiled view sheet icons/pie-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 7" src="./assets/images/Tiled view sheet icons/sideBar-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 5" src="./assets/images/Tiled view sheet icons/Stacked-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 4" src="./assets/images/Tiled view sheet icons/BarLine-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 2" src="./assets/images/Tiled view sheet icons/Hstacked-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 3" src="./assets/images/Tiled view sheet icons/HGrouped-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 8" src="./assets/images/Tiled view sheet icons/multiline-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 10" src="./assets/images/Tiled view sheet icons/donut-tiled-icon.jpg" alt="" class="rounded-circle">
                    </span>
                </div>
                <div class="card-body p-3 mt-3 text-center">
                    <a  class="fs-18 fw-bold d-block" (click)="viewSheet(sheets.server_id,sheets.queryset_id,sheets.sheet_id,sheets.sheet_name)"  ngbTooltip="{{sheets.sheet_name}}">{{sheets.sheet_name | slice:0:15}}</a>
                </div>
                <div class=" p-2 text-center">
                  <div class="row ">
                    <div class="col-md-6">
                        <span class="fw-semibold fs-14">Created by : </span>
                    </div>
                    <div class="col-md-6">
                        <span class="fs-15">{{sheets.created_by}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <span class="fw-semibold fs-14">Created on: </span>
                    </div>
                    <div class="col-md-6">
                        <span class="fs-15">{{sheets.created}}</span>
                    </div>
                  </div>     
                  <div class="row ">
                    <div class="col-md-6">
                      <span class="fw-semibold fs-14">Modified on: </span>
                    </div>
                    <div class="col-md-6">
                      <span class="fs-15">{{sheets.Modified}}</span>
                    </div>
                  </div>                               
                  </div>
                    <div class=" text-center p-2">
                      <a aria-label="anchor"  (click)="viewSheet(sheets.server_id,sheets.queryset_id,sheets.sheet_id,sheets.sheet_name)" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light me-2">
                        <i class="ri-edit-line" ng-reflect-ngb-tooltip="Edit"></i>
                       </a>
                      <a aria-label="anchor" (click)="deleteSheet(sheets.server_id,sheets.queryset_id,sheets.sheet_id)" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                        <i class="ri-delete-bin-7-line" ng-reflect-ngb-tooltip="Delete"></i>
                       </a>
                    </div>
              </div>
          </div>
        </div> -->


        <div class="row">
          <div *ngFor="let sheets of savedSheetsList | paginate : {
            itemsPerPage: itemsPerPage,
            currentPage: page,
            totalItems: totalItems
          }"  class="col-md-12 col-xl-3">
          <div class="card card-box-shadow ">
            <div class="card-header tiled-header-bg bg-primary tiled-card-header-padding">
              <div class="d-sm-flex align-items-center">
                <div class="user-image">
                    <span class="avatar avatar rounded-circle">
                      <img *ngIf="sheets.chart_id === 1" src="./assets/images/Tiled view sheet icons/table-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 6" src="./assets/images/Tiled view sheet icons/bar-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 17" src="./assets/images/Tiled view sheet icons/area-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 13" src="./assets/images/Tiled view sheet icons/line-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 24" src="./assets/images/Tiled view sheet icons/pie-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 7" src="./assets/images/Tiled view sheet icons/sideBar-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 5" src="./assets/images/Tiled view sheet icons/Stacked-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 4" src="./assets/images/Tiled view sheet icons/BarLine-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 2" src="./assets/images/Tiled view sheet icons/Hstacked-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 3" src="./assets/images/Tiled view sheet icons/HGrouped-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 8" src="./assets/images/Tiled view sheet icons/multi-lines-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 10" src="./assets/images/Tiled view sheet icons/donut-tiled-icon.jpg" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 12" src="./assets/images/Tiled view sheet icons/spider-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 25" src="./assets/images/Tiled view sheet icons/kpi-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 26" src="./assets/images/Tiled view sheet icons/heatmap-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 27" src="./assets/images/Tiled view sheet icons/funnel-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 28" src="./assets/images/Tiled view sheet icons/guage-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 29" src="./assets/images/Tiled view sheet icons/worldmap-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 11" src="./assets/images/Tiled view sheet icons/calendar-bg.png" alt="" class="rounded-circle">
                      <img *ngIf="sheets.chart_id === 9" src="./assets/images/Tiled view sheet icons/pivot-table.jpg" alt="" class="rounded-circle">

                    </span>
                </div>
                  <div class="ms-2 mt-sm-0 mt-2">
                    <!-- <span class="text-muted  pe-2 fs-12 float-start">Server</span> -->
                      <h6 class="mb-1">
                          <a (click)="viewSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)"  ngbTooltip="{{sheets.sheet_name}}"  class="float-start">{{sheets.sheet_name | slice:0:15}}</a>
                      </h6>
                      
                  </div>
              </div>

              <div class="col-auto">
                <div class="d-flex justify-content-end p-1" ngbDropdown>
                  <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                      aria-haspopup="true" aria-expanded="false" class=""><i
                          class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                  </a>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <app-insights-button [buttonName]="' Edit'" [classesList]="'dropdown-item'" [previledgeId]="18" [isBtn]="false"
                      [tabIndex]="0" (btnClickEvent)="viewSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)"
                      [faIconList]="'fe fe-edit me-2 d-inline-flex'" [isIcon]="true"></app-insights-button>
                    <app-insights-button [buttonName]="' Delete'" [classesList]="'dropdown-item  btn btn-secondary-light'"
                      [previledgeId]="19" [isBtn]="false" [tabIndex]="0"
                      (btnClickEvent)="deleteSheet(sheets.hierarchy_id,sheets.queryset_id,sheets.sheet_id)"
                      [faIconList]="'fe fe-trash me-2 d-inline-flex'" [isIcon]="true"></app-insights-button>
                  </div>
              </div>
            </div>
            </div>
            <div class="card-body tiled-card-body-padding">
                <div class="row">
                  
                    <div  class="col-md-12">
                      <div class="row">
                            <div class="col-md-6">
                                <span class="fw-semibold fs-14">Created by: </span>
                            </div>
                            <div class="col-md-6">
                                <span class="fs-14">{{sheets.created_by}}</span>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <span class="fw-semibold fs-14">Created on :</span>
                            </div>
                            <div class="col-md-6">
                                <span class="fs-14">{{sheets.created}}</span>
                            </div>
                        </div> -->
                        <div class="row">
                          <div class="col-md-6">
                              <span class="fw-semibold fs-14">Last Modified: </span>
                          </div>
                          <div class="col-md-6">
                              <span class="fs-14">{{sheets.Modified}}</span>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <span class="fw-semibold fs-14">Database Name: </span>
                        </div>
                        <div class="col-md-6">
                            <span class="fs-14" [ngbTooltip]="sheets.database_name.length > 13 ? sheets.database_name : null">  {{ sheets.database_name.length > 13 ? (sheets.database_name | slice: 0: 13) + '...' : sheets.database_name }}</span>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <span class="fw-semibold fs-14">Queryset Name: </span>
                      </div>
                      <div class="col-md-6">
                        <span class="fs-14" [ngbTooltip]="sheets.queryset_name?.length > 13 ? sheets.queryset_name : null" >{{sheets.queryset_name?.length > 13 ? (sheets.queryset_name | slice: 0: 13)+ '...' : sheets.queryset_name}}</span>
                      </div>
                  </div>
                    </div>
                </div>
            </div>
           </div> 
              </div>
            
    </div>
        }
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChangegetUserSheetsList((page = $event))"></pagination-controls>
            <div class="pagination-count" >
              <select *ngIf="savedSheetsList.length > 9" [(ngModel)]="itemsPerPage" (ngModelChange)="getUserSheetsList()" class="form-control cursor-pointer">
                    <option  value="10"> 10</option>
                    <option [disabled]="!(totalItems > 10)" value="20"> 20</option>
                    <option [disabled]="!(totalItems > 20)" value="30"> 30</option>
                 
              </select>
           </div>
        </div>
    </div>
    </div>
  </div>