.default-background-color{
    background-color: #2392c1;
    color: #fff;
}
.default-background-color:focus,
.default-background-color:active{
    background-color: #2392c1 !important;
}
.default-color{
    color: #2392c1;
}

.login-container{
    min-height: 100vh;
}

.password-toggle{
    color: #6c757d;
}
