// .invalid-feedback{
//     margin:10px 0px;
//     display: block !important;
//   }
.pwd_character{ font-size: 12px;  margin: 10px 0px; }
.bi-x-square { font-size: 14px; margin-right: 5px; }
.bi-check-square-fill { font-size: 14px; margin-right: 5px; }
.signin-text{ color: #005E87;}
.default-background-color{ background-color: #2392c1; color: #fff; }
.login-logo{ height: 60px;}

// for 90% Resolution //
@media ( 1420px <= width <= 1560px) {
    img { max-width: 85%; }
}

// for 100% Resolution //
@media ( 1280px <= width <= 1420px) {
 img { max-width: 85%; }
}
.form-card-width {
  max-width: 450px;
  width: 450px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .form-card-width {
    max-width: 100%;
    padding: 0 10px;
  }
}