.modal-large{
    width: 1200px !important;
      position: relative;
      right: 310px;
      border-radius: 15px;
  }
  .Permission-body-text {
    padding: 10px;
    height: 300px;  
    overflow-y: scroll;
    width: 100%;
    border: none;
    outline: none;
  }
  .add-icons{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img-shadow {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.16);
  }
  a {
    cursor: pointer;
  }
  .swal2-popup.swal2-modal.swal2-icon-error.swal2-show{
    z-index: 999999 !important;
  }
  .user-value {
    font-size: .9em;
    color: #fff !important;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    width: max-content;
    cursor: pointer;
}
.user-close-btn {
  display: flex;
  overflow-y: auto;
}
.card-box-shadow{
    box-shadow: 5px 10px 10px 5px #0000001a;
  }
  .dropdown-toggle::after{
    display: none;
  }
  a {
    cursor: pointer;
}

.tiled-header-bg {
  display: flex;
  justify-content: space-between;
  background: #2392c1;
  color: #fff;
}
.fe-more-vertical:before {
  content: "\e99a";
  color: #fff;
}