<app-page-header title="Database Connections" moduleId="customSql" title1="Home" activeitem="Data Source"></app-page-header>

<div class="main-container container-fluid">
    <div class="row" class="card" style="padding-top: 15px;">
    <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
      <div class="d-flex justify-content-between px-5">
        <div class="connect-txt">
          <h4 class="card-title mt-2">Saved Queries</h4>
        </div>
        <div class="new-data-btn d-flex text-align-center">
          <button *ngIf="gridView" type="button" class="btn btn-icon btn-outline-primary me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="gridView" type="button"  (click)="gridView=false" class="btn btn-icon btn-primary-light me-3" ><i class="fa fa-th-list"></i></button>

          <button *ngIf="!gridView" type="button" (click)="gridView=true" class="btn btn-icon btn-primary-light me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="!gridView" type="button" class="btn btn-icon btn-outline-primary me-3" ><i class="fa fa-th-list"></i></button>
          <div class="input-group">
            <input type="text" class="form-control border-end-0 " placeholder="Search" [(ngModel)]="searchName" aria-describedby="button-addon2" (keyup.enter)="getSavedQueriesSearch()">
            <button class="btn btn-primary border me-2" (click)="getSavedQueriesSearch()" type="button" id="button-addon2" style="border-radius: 0px 4px 4px 0px;"><i class="fe fe-search "></i></button>
          </div>
        </div>
    </div>
    <div *ngIf="viewSavedQueries && savedQueryList.length === 0">
     <p> No Saved Queries Found!</p>
    </div>
    <div *ngIf="!viewSavedQueries">
      You don't have permission to view!
    </div>
        <div *ngIf="viewSavedQueries && savedQueryList.length > 0" class="card-body">
          @if(!gridView){
            <div class="table-responsive border" style="height: 26rem;">
                <table class="table border text-nowrap text-md-nowrap mb-0">
                    <thead class="table-primary bg-primary" style="position: sticky;top: -1px;">
                        <tr>
                            <th>Query</th>
                            <th>Database</th>
                            <th>Created at</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of savedQueryList | paginate : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems
                          }">
                            <td>
                                <a ngbTooltip="{{data.queryset_name}}"> {{data.queryset_name | slice:0:15}}</a>
                               </td>
                            <td>{{data.database_name}}</td>
                            <td>{{data.created}}</td>
                            <td>{{data.modified}}</td>
                            <td>
                              <div class="hstack gap-2 fs-1">
                            <a aria-label="anchor" (click)="gotoSavedQuery(data.hierarchy_id,data.queryset_id,data.is_custom_sql,data?.datasource_filterdata[0]?.datasource_querysetid)" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                <i class="ri-edit-line" ngbTooltip="Edit database"></i></a>
                            <a aria-label="anchor" (click)="deleteSavedQuery(data.queryset_id)" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                <i class="ri-delete-bin-7-line" ngbTooltip="Delete database"></i>
                            </a>
                              </div>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          }
          @if(gridView){

            <div class="row">
              <div *ngFor="let data of savedQueryList | paginate : {
                itemsPerPage: itemsPerPage,
                currentPage: page,
                totalItems: totalItems
              }" class="col-md-12 col-xl-3">
              <div class="card card-box-shadow ">
                <div class="card-header tiled-header-bg bg-primary tiled-card-header-padding">
                  <div class="d-sm-flex align-items-center">
                    <!-- <span class="avatar avatar-xl rounded-circle">
                        <img src="./assets/images/charts/table-tiled-icon.jpg" alt="" class="rounded-circle"></span> -->
                      <div class="ms-2 mt-sm-0 mt-2">
                        <!-- <span class="text-muted  pe-2 fs-12 float-start">Server</span> -->
                          <h6 class="mb-1">
                              <a ngbTooltip="{{data.queryset_name}}" (click)="gotoSavedQuery(data.hierarchy_id,data.queryset_id,data.is_custom_sql,data?.datasource_filterdata[0]?.datasource_querysetid)"  class="float-start"> {{data.queryset_name | slice:0:15}}</a>
                          </h6>
                          
                      </div>
                  </div>

                  <div class="col-auto">
                    <div class="d-flex justify-content-end p-1" ngbDropdown>
                      <a  data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                          aria-haspopup="true" aria-expanded="false" class=""><i
                              class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                      </a>
                      <div class="dropdown-menu" ngbDropdownMenu>
                         <a class="dropdown-item" tabindex="0" (click)="gotoSavedQuery(data.hierarchy_id,data.queryset_id,data.is_custom_sql,data?.datasource_filterdata[0]?.datasource_querysetid)">
                                <i class="fe fe-edit me-2 d-inline-flex"></i> Edit</a>
                            <a  class="dropdown-item  btn btn-secondary-light" tabindex="0" (click)="deleteSavedQuery(data.queryset_id)" >
                                <i class="fe fe-trash me-2 d-inline-flex"></i> Delete</a>
                      </div>
                  </div>
                </div>
                </div>
                <div class="card-body tiled-card-body-padding">
                    <div class="row">
                      
                        <div  class="col-md-12">
                          <div class="row">
                            <div class="col-md-6">
                                <span  class="fw-semibold fs-14">Database:  </span>
                            </div>
                            <div class="col-md-6">
                                <span ngbTooltip="data.database_name" class="fs-14">{{data.database_name | slice:0:15}}</span>
                            </div>
                        </div>
                          <div class="row">
                                <div class="col-md-6">
                                    <span class="fw-semibold fs-14">Created by:  </span>
                                </div>
                                <div class="col-md-6">
                                    <span class="fs-14" >{{data.created_by  | slice:0:15}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="fw-semibold fs-14">Created on:</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="fs-14">{{data.created}}</span>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <span class="fw-semibold fs-14">Last Modified: </span>
                              </div>
                              <div class="col-md-6">
                                  <span class="fs-14">{{data.modified}}</span>
                              </div>
                          </div>
                        
                        </div>
                      
                    </div>
                </div>
               </div>    
                  </div>
        </div>
      }
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChangeSavedQueries((page = $event))"></pagination-controls>
            <div  style="float: right;font-size: 15px; margin-top: -30px;">
              <select  [(ngModel)]="itemsPerPage" (ngModelChange)="getSavedQueries()" class="form-control">
                    <option  value="10"> 10</option>
                    <option [disabled]="!(totalItems > 10)" value="20"> 20</option>
                    <option [disabled]="!(totalItems > 20)" value="30"> 30</option>
                 
              </select>
           </div>
        </div>
    </div>
    </div>
  </div>