
<app-switcher *ngIf="!hideLayout"></app-switcher>
<div class="page">
    <div class="page-main">
        <app-header *ngIf="!hideLayout"></app-header>
        <app-sidebar *ngIf="!hideLayout" appHoverEffectSidebar></app-sidebar>
        <div class="main-content app-content mt-0"  (click)="togglesidemenuBody()">

                <router-outlet></router-outlet>


        </div>
    </div>
    <!-- <app-footer></app-footer> -->
<app-tab-to-top *ngIf="!hideLayout"></app-tab-to-top>
</div>
<div id="responsive-overlay" (click)="clearToggle()"></div>
