.drag-txt {
  text-align: center;
}

button.BtnNewStyle {
  margin-inline: 0px !important;
  border-radius: 0px !important;
  background-color: rgb(35 145 192 / 7%);
  border: 1px solid var(--primary-color);
}
.nav-link.BtnNewStyle.active {
  background: #ccedec !important;
  color: #036e6c !important;
  border-bottom: 2px solid #036e6c;
  border-top: none;
}
button.BtnNewStyle.span-right {
  border-right: 0px;
  padding: 8px 6px 8px 15px;
}
button.BtnNewStyle.span-left {
  border-left: 0px;
  padding: 8px 15px 8px 6px;
}
.drag-input-field {
  border: 1px solid #e9edf6;
  height: 34px;
  border-radius: 3px;
  // overflow: scroll;
  padding: 6px 12px;
}

// [cdkDropListDisabled] {
//   cursor: not-allowed !important;

//   // Optional: Style adjustments for better visual indication
//   opacity: 0.5; // Makes the element semi-transparent
//   pointer-events: none; // Prevents any interaction with the element
// }
// ::ng-deep [cdkDropListDisabled] {
//   cursor: not-allowed !important;
//   opacity: 0.5; // Optional
//   pointer-events: none; // Optional
// }
.drag-disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
}
button.BtnRowStyle {
  margin-inline: 0px !important;
  border-radius: 0px !important;
  background-color: rgb(241 241 241 / 72%);
  border: 1px solid rgb(0 0 0 / 16%);
}
.nav-link.BtnRowStyle.active {
  background: #ccedec !important;
  color: #036e6c !important;
  border-top: none; 
}
button.BtnRowStyle.span-right {
  border-right: 0px;
  padding:1px 4px 1px 3px;
}
button.BtnRowStyle.span-left {
  border-left: 0px;
  padding: 1px 3px 1px 4px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #fff !important; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #c0c0c0a8 !important; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #000; 
  }

.example-box {
padding: 3px 5px;
// border-bottom: solid 1px #ccc;
color: var(--primary-color);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;

font-size: 14px;
// border-radius: 8px;
margin-right: 5px;
border-radius: 5px 5px 0px 0px;
}
.example-box1 {
  padding: 3px 13px;
  // border-bottom: solid 1px #ccc;
  color: rgb(var(--success-rgb))!important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;

  font-size: 14px;
  // border-radius: 8px;
  margin-right: 5px;
  }

.example-list {
  width: 1000px;
  max-width: 100%;
  // border: solid 2px #eef1f8;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  // background: white;
  border-radius: 4px;
  overflow-x: auto;
  // overflow: hidden;
}
.table-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu-item {
  margin-bottom: 10px;
}
.menu-title {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.sub-menu {
  margin-top: 5px;
  padding-left: 10px;
}

.sub-menu-item {
  padding: 5px 0;
  margin-bottom: 5px;
}
span.abc-txt {
  font-size: 8px;
  margin-right: 5px;
}
::after {
  display: none;
}
:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: var(--primary-color) !important;
}
:host ::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--primary-color) !important;
}
#donutchart {
  width: 380px;
  margin: 35px auto;
  padding: 0;
}
.dropdown-menu.cu.show{position:fixed !important; display: flex;flex-direction: column;}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.chart-icon:hover{
  background-color: #e1f0f9;
 }
 .filter-card-height{
  height: 172px; 
  overflow-y: auto;
 }
 .charts-card-height{
  overflow-y: auto; 
  height: 437px;
 }
 .marks-card-height{
  height: 203px; 
  overflow-y: auto;
 }

 .popup {
  position: fixed;
  top: 23%;
  left: 67%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.ck-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button {
  background-color: #f44336;
  color: white;
}

.update-button {
  background-color: #4CAF50;
  color: white;
}

.title-container{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  height: 30px;
}

#htmlContent{
  flex: 1;
}

.title-editor{
  cursor: pointer;
  // display: flex;
  align-items: center;
}

.even-row {
  background-color:  #ffffff;
}
.odd-row {
  background-color: #d4d3d2;
}

.number-popup{
  position: fixed;
  top: 69%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  // height: 150px;
  padding: 7px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.number-formatting {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.number-formatting label {
  display: block;
  margin-top: 10px;
}

.number-formatting input,
.number-formatting select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.title-container{
  >.p{
    margin: 0px  !important;
  }
}
.span#htmlContent > *{
    margin:0px !important;
}

 .copilot-button {
  background-color: white; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  // padding: 10px 15px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  border-width: thick;
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center items vertically */
  transition: transform 0.2s; /* Animation effect */
}

.rounded-circle-copilot {
  border-radius: 15% !important;
  width: 30px;
}
.chart-suggestions {
  display: grid;
  max-height: 435px; /* Adjust the height as needed */
  overflow-y: auto;  /* Enables vertical scrolling */
  scrollbar-width: auto; /* Firefox */
}

/* For Webkit browsers (Chrome, Safari) */
.chart-suggestions::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chart-suggestions::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.chart-suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}
.copilot-button:hover {
  transform: scale(1.05); /* Scale effect on hover */
}


.copilot-button:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.copilot-icon {
  width: 25px; /* Icon width */
  // height: 20px; /* Icon height */
  margin-right: 8px; /* Space between icon and text */
}

.inp{
  bottom: 5px;
  position: absolute;
  right: 28px;
  left: 0;
  padding: 10px;
}

.inp-btn{
  margin: 5px 0px;

}

.inp-send{
  border-radius: 0px 5px 5px 0px;
}
.error-mgs{
  background-color: #f4f2f4;
  padding: 10px;

}
.chartfit{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.ngx-slider .ngx-slider-bubble{
  bottom: -49px !important;
}

.date-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.date-box-width{
  width: 100px;
  border: 1px solid #b6b9b9;
}
.big-number-container {
  text-align: center;
  margin-top: 20px;
}

.big-number {
  font-size: 4rem; /* Adjust the size as needed */
  font-weight: bold;
  color: #007bff; /* Example color */
}
button.viewQueryImg {
  border: none;
  background: none;
}
.viewQueryImg img{
  height: 30px;
  width: 30px;
  object-fit: fill;
}
.maind-flex{
  display: flex;
  justify-content: flex-end;  
  align-items: center;
}
.viewQuery-hgt {
  max-height: 200px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .big-number {
    font-size: 3rem; /* Responsive size for smaller screens */
  }
}
.controls {
  margin-bottom: 20px;
}

.controls label {
  margin-right: 10px;
}

.controls input[type="range"] {
  margin-right: 10px;
}
.table-card-h{
  height: 510px;
  overflow-y: auto
}
.show-chart-card{
  height: 478px;
}
.show-chart-card-no-heirarchy{
  height: 512px;
}
.sheet-table-h{
  height: 479px;
  overflow-y: auto;
}
.panel-body-h{
  height: 624px;
}
.chart-icon.active {
  border-color:#00a2a5 !important; /* Change to the color you prefer for the active state */
  opacity: 1;
  background-color: #ecf0f1;
}
.custom-dropdown.show {
  position:fixed !important; 
  display: flex !important;
  flex-direction: column !important;
}
.d-inline-block {
display: inline-block !important;
vertical-align: middle; /* Aligns vertically centered with text */
}
.ck.ck-editor__main {
display: flex;
flex-direction: column-reverse; /* Reverse the toolbar and the editor */
}
.date-dtype{
font-size: 12px;
margin-right: 5px;
margin-top: 3px;
}
.title-padding {
padding: 5px 4px 5px 3px;
}
.input-group.mt-1.p-1.sheet-table-search {
  width: 300px;
}
.sheet-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  cursor: pointer;
  position: relative;
}

.selected-colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  border-radius: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 5px;
  z-index: 10;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content.show {
  display: block;
}

/* Color Row inside Dropdown */
.color-row {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

/* Down arrow icon */
.arrow-down {
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}

.form-check-input {
  border-color: #898989 !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1019607843);
}

// for Mobile Resolution //
@media only screen and ( max-width : 578px ) {
  
}
// for Tab Resolution //
@media ( 768px <= width <= 1198px) {

}
// for 90% Resolution //
@media ( 1420px <= width <= 1560px) {
h6 {
  font-size: 14px;
}
app-insights-button {
  font-size: 12px;
}
.example-box {
  font-size: 12px;
}
.title-container {
  font-size: 13px;
}
.nav-link {
  font-size: 12px;
}
.sheet-table-h{
  height: 415px;
  overflow-y: auto;
}
.show-chart-card {
  height: 400px;
}
.show-chart-card-no-heirarchy{
  height: 435px;
}
.panel-body-h {
  height: 544px;
}
.charts-card-height {
  overflow-y: auto;
  height: 350px;
}
.filter-card-height {
  height: 150px;
  overflow-y: auto;
}
.marks-card-height{
  height: 164px;
  overflow-y: auto;
}
.column-text {
  font-size: 12px;
}
.row-text{
  font-size: 12px;
}
.mat-mdc-tab:not(.mdc-tab--stacked) {
  height: 41px;
}
.update-btn{
  font-size: 12px;
}
.title-padding {
  padding: 5px 4px 5px 3px;
}
th, td {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 12px;
}
.echart-charts {
  height: 17rem;
}
h6 {
  font-size: 12px;
}
.example-box {
  font-size: 11px;
}
.example-box1{
  font-size: 11px;
}
.form-control{
  font-size: 12px;
  min-height: 30px !important;
}
.nav-link {
  font-size: 12px;
}
.mat-mdc-tab.mdc-tab__text-label{
  font-size: 12px !important;
}
.mat-mdc-tab.mdc-tab__content {
  font-size: 11px !important;
}
.p-3 {
  padding: 0.55rem !important;
}
.accordion-button {
  font-size: 12px;
}
.fs-14 {
  font-size: 12px !important;
}
button.btn {
  font-size: 11px;
}
.dropdown-item{
  padding: 0.5rem 0.5rem !important;
  font-size: 12px;
}
p {
  font-size: 12px;
}
label {
  font-size: 12px;
}
.body.table-responsive{
  max-height: 310px !important;
}
}

@media ( 1280px <= width <= 1570px) {
  .dropdown-menu.filtersDropDown {
      min-width: 110px !important;
  }
  button.dropdown-item.filtersBtnWidth {
      padding: 0.5rem 0.5rem !important;
  }

}



 // for 100% Resolution //
 @media ( 1280px <= width <= 1420px) {
  h6 {
    font-size: 13px;
  }
  app-insights-button {
    font-size: 12px;
  }
  .example-box {
    font-size: 12px;
  }
  .title-container {
    font-size: 13px;
  }
  .nav-link {
    font-size: 12px;
  }
  .sheet-table-h {
    height: 350px;
    overflow-y: auto;
}
.show-chart-card {
  height: 338px;
}
.show-chart-card-no-heirarchy{
  height: 375px;
}
.filter-card-height {
  height: 130px;
  overflow-y: auto;
}
.charts-card-height {
  overflow-y: auto;
  height: 300px;
}
.marks-card-height {
  height: 142px;
  overflow-y: auto;
}
.panel-body-h {
  height: 480px;
}
.column-text {
  font-size: 12px;
}
.row-text{
  font-size: 12px;
}
.mat-mdc-tab:not(.mdc-tab--stacked) {
  height: 33px;
}
.update-btn{
  font-size: 11px;
}
.title-padding {
  padding: 4px 32px 4px 17px;
}
th, td {
  border: 1px solid #ddd;
  padding: 4px;
  font-size: 11px;
}
.echart-charts {
  height: 16rem;
}
  h6{
      font-size: 12px;
  }
  .example-box {
    font-size: 10px;
  }
  .example-box1{
    font-size: 10px;
  }
  .form-control{
    font-size: 11px;
    min-height: 30px !important;
  }
  .nav-link {
    font-size: 11px;
  }
  .mat-mdc-tab .mdc-tab__text-label{
    font-size: 11px !important;
  }
  .mat-mdc-tab .mdc-tab__content {
    font-size: 11px !important;
  }
  .p-3 {
    padding: 0.45rem !important;
  }
  .accordion-button {
    font-size: 11px;
  }
  .fs-14 {
    font-size: 11px !important;
  }
  button.btn {
    font-size: 11px;
  }
  .dropdown-item{
    padding: 0.5rem 0.5rem !important;
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }
  .body.table-responsive{
    max-height: 310px !important;
  }
}


 // for 110% Resolution //
 @media ( 1163px <= width <= 1279px) {
  h6 {
    font-size: 13px;
  }
  app-insights-button {
    font-size: 12px;
  }
  .example-box {
    font-size: 11px;
  }
  .title-container {
    font-size: 13px;
  }
  .nav-link {
    font-size: 11px;
  }
}
    // for 125% Resolution //
    @media ( 1024px <= width <= 1163px) {
      h6 {
        font-size: 12px;
    }
    app-insights-button {
      font-size: 12px;
    }
    .example-box {
      font-size: 11px;
    }
    .title-container {
      font-size: 13px;
    }
    .nav-link {
      font-size: 11px;
    }
  }
  

  .font-color-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .bold-text {
    font-weight: 700;
    padding: 5px 12px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
  }
  .italic-text {
    font-weight: 700;
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    font-style: italic;
    cursor: pointer;
  }
  .underline-text {
    font-weight: 700;
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    text-decoration: underline;
    cursor: pointer;
  }
  .more-color-text{
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  .color-black {
    padding: 8px; background-color: black; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-white {
    padding: 8px; background-color: #fff; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-orange {
    padding: 8px; background-color: #f28e2b; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-DarkKhaki {
    padding: 8px; background-color: #b6992d; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-ForestGreen {
    padding: 8px; background-color: #228B22; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-CadetBlue {
    padding: 8px; background-color: #5F9EA0; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SteelBlue {
    padding: 8px; background-color: #4682B4; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SlateGray {
    padding: 8px; background-color: #708090; width: 5px;  cursor: pointer; 
  }
  
  .color-light-black{
    padding: 8px; background-color: #333333; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-Gainsboro{
    padding: 8px; background-color: #f3f3f3; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-orange-light {
    padding: 8px; background-color: #f8a555; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-DarkKhaki-light {
    padding: 8px; background-color: #d1b247; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-ForestGreen-light {
    padding: 8px; background-color: #72b966; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-CadetBlue-light {
    padding: 8px; background-color: #69aaa5; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SteelBlue-light {
    padding: 8px; background-color: #75a1c7; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SlateGray-light {
    padding: 8px; background-color: #808a90; width: 5px;  cursor: pointer; 
  }
  
  .color-DimGray {
    padding: 8px; background-color: #696969; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Gainsboro-light {
    padding: 8px; background-color: #e6e6e6; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-orange-light-2 {
    padding: 8px; background-color: #fbc48d; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-DarkKhaki-light-2 {
    padding: 8px; background-color: #f7d66f; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-ForestGreen-light-2 {
    padding: 8px; background-color: #8cd17d; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-CadetBlue-light-2 {
    padding: 8px; background-color: #86bcb6; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SteelBlue-light-2 {
    padding: 8px; background-color: #a0cbe8; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-SlateGray-light-2 {
    padding: 8px; background-color: #a7acad; width: 5px;  cursor: pointer; 
  }
  
  .color-Silver {
    padding: 8px; background-color: #C0C0C0; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Gainsboro-light-2 {
    padding: 8px; background-color: #d4d4d4; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Plum {
    padding: 8px; background-color: #DDA0DD; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-PaleVioletRed {
    padding: 8px; background-color: #DB7093; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-IndianRed {
    padding: 8px; background-color: #d65355; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-SaddleBrown {
    padding: 8px; background-color: #8B4513; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-DimGray-3 {
    padding: 8px; background-color: #696969; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-PaleTurquoise {
    padding: 8px; background-color: #5F9EA0; width: 5px;  cursor: pointer;  
  }
  
  .color-DimGray-2 {
    padding: 8px; background-color: #888a8b; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Gainsboro-2 {
    padding: 8px; background-color: #a7acad; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Orchid {
    padding: 8px; background-color: #c290b4; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightPink {
    padding: 8px; background-color: #e799b3; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightCoral {
    padding: 8px; background-color: #f17b79; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-Peru {
    padding: 8px; background-color: #ba9582; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightSlateGray {
    padding: 8px; background-color: #998f8c; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-HotPink {
    padding: 8px; background-color: #ff9da7; width: 5px;  cursor: pointer;  
  }
  
  .color-Silver-2 {
    padding: 8px; background-color: #dbdbdb; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Gainsboro-3{
    padding: 8px; background-color: #b4b4b4; width: 5px;  cursor: pointer; margin-right: 15px;
  }
  .color-Plum-2 {
    padding: 8px; background-color: #f2bfe4; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightPink-2 {
    padding: 8px; background-color: #fabfd2; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightCoral-2 {
    padding: 8px; background-color: #ff9d9a; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-Peru-2 {
    padding: 8px; background-color: #d7b5a6; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-LightSlateGray-2 {
    padding: 8px; background-color: #bab0ac; width: 5px;  cursor: pointer; margin-right: 15px; 
  }
  .color-yellow {
    padding: 8px; background-color: #edc948; width: 5px;  cursor: pointer;  
  }
  .Automatic-btn {
    margin-top: 10px;
    width: 150px;
  }
  .alignment-sides{
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .align-left {
    padding: 5px 12px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
  }
  .align-center {
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
  }
  .align-right  {
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
  }

  .justify-bottom {
    padding: 5px 12px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
  }
  .justify-middle {
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .justify-top  {
    padding: 5px 13px;
    margin-left: 11px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .resetColorButton{
    height: 20px;
    width: 50px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    color: white;
  }
  .chart-container {
    width: 100%;
    height: 100% !important;
}
.aggregation-select{
  background-color: var(--primary-color);
}
  
.Semantic-layer-card {
  min-width: 600px; 
  max-width: 1000px;
}

.query-text {
  width: 100%;
  height: 110px;
  min-height: 110px;
  max-height: 110px;
  overflow-y: auto;
  outline: none;
  border: 1px solid #edebeb;
  border-radius: 5px;
}
.description-text{
  overflow-y: auto; 
  height: 195px; 
  min-height: 195px;  
  max-height: 95px;
}
.example-box-bg{
  padding: 3px 13px;
  background: #75cce621;
  border-radius: 15px;
  border: 1px solid;
}
.example-box1-bg{
  padding: 3px 13px;
  background-color: #61c4831a;
  border-radius: 15px;
  border: 1px solid;
}