<app-page-header title="Sheet Title" title1="Forms" activeitem="Sheet title"></app-page-header>

   <!-- CONTAINER -->
 
   <div class="main-container container-fluid"> 
    <div class="row main-container" style="position: fixed; width: -webkit-fill-available;">
        <div class="col-xl-8 col-md-12 p-1">
            <div class="card p-0 mb-1">
                <div class="card-body p-4">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Columns</label>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0" style="overflow: auto; white-space: nowrap;">
                            
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                                #columnList="cdkDropList" 
                                [cdkDropListData]="draggedColumns" 
                                (cdkDropListDropped)="columndrop($event)">
                                    @for(columns of draggedColumns;track columns){
                                    <div class="example-box" cdkDrag>{{ columns.column }}
                                    </div>
                                    }
                                </div> 
                              <!--  <ul style=" bottom: 17px; left: 10px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"> </i>
                                        </button>
                                    </li>
                                </ul> -->                          
                            
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0" style="overflow: auto; white-space: nowrap;">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Rows</label>
                            </div> 
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0">
                           
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list"
                                #rowList="cdkDropList" 
                                [cdkDropListData]="draggedRows" 
                                (cdkDropListDropped)="rowdrop($event)">
                                    @for(rows of draggedRows;track rows){
                                    <div class="example-box" cdkDrag>{{ rows.column }}
                                    </div>
                                    }
                                </div>  
                                <ul style=" bottom: 17px; left: 10px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"> </i>
                                        </button>
                                    </li>
                                </ul>                          
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-0" style="height: 290px; overflow-y: scroll;">
                 <div class="card-body" style="display: flex; justify-content: center; align-items: center;">

                      
                            <div class="body table-responsive" style="max-height:370px;padding: 0px;">
                                <table>
                                    <thead>
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <th>{{ column }}</th>
                                        }
                                      </tr>
                                    </thead>
                                    <tbody>
                                        @for(row of tableData;track row){
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <td>{{ row[column] }}</td>
                                        }
                                      </tr>
                                    }
                                    </tbody>
                                  </table>
                              </div>
                             
                   <!--  @if(!draggedtables.length){ <h6 class=" fs-12 mt-2 mb-0 drag-txt">Drop field here</h6>}
                        <div cdkDropList 
                        #destinationList="cdkDropList" 
                        [cdkDropListData]="draggedtables" class="example-list-drop"
                        (cdkDropListDropped)="drop($event)">
                            @for(item of draggedtables;track item){
                            <div class="example-box" cdkDrag>{{ item.column }}
                            </div>
                            }
                        </div>-->
                       <!-- <div class="col-xl-4 col-md-4 p-1">
                            <div class="body table-responsive" style="max-height:370px;padding: 0px;">
                                <table class="table table-bordered">
                                    <thead style="position:sticky;top: -1px;">
                                 
                                    </thead>
                                    <tbody>
                                      @for(data of tablePreviewRow;track data){
                                      <tr>
                                        <td><b>{{data.column}}:</b> {{data.result_data}}</td>
                                      </tr>
                                  }
                                    </tbody>
                                </table>
                              </div>
                              </div>-->
                            
                           <!-- <div class="body table-responsive" style="max-height:370px;padding: 0px;">
                                <table class="table table-bordered">
                                  <thead style="position:sticky;top: -1px;">
                                 
                                  </thead>
                                  <tbody>
                                    @for(data of tablePreviewColumn;track data){
                                    <tr>
                                      <td><b>{{data.column}}:</b> {{data.result_data}}</td>
                                    </tr>
                                }
                                  </tbody>
                                </table>
                              </div>-->
                 </div>
                    <div class="card-footer d-flex p-2">
                          <ul ngbnav="" id="footer-tab border-1" role="tablist" class="nav nav-pills fs-12">
                               <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-right">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                               <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-left">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button " ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-23" aria-disabled="false" aria-controls="ngb-nav-23-panel" class="nav-link BtnNewStyle active"> Sheet 1</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 2</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 3</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 4</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 5</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 6</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">
                                    <i class="fa fa-plus-square-o"></i>
                                </button>
                            </li>
                        </ul>
                   </div>
                </div>
             </div>
             <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1">
                <div class="card mb-1" style=" height: 100px; overflow-y: scroll;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Filters </div>
                    </div>
                    <div class="card-body px-5">
                        <div class="row"> 
                            
                        </div>
                    </div>
                </div>
                <div class="card mb-1" style=" overflow-y: scroll; height: 100px;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Charts </div>
                    </div>
                    <div class="card-body">
                   
                    </div>
                </div>
                <div class="card mb-0" style=" height: 195px; overflow-y: scroll;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Marks </div>
                    </div>
                    <div class="card-body" style=" padding: 2px 12px;">
                        <div ngbdropdown="" class="btn-group my-1 dropdown">
                            <button type="button" ngbdropdowntoggle="" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle btn btn-outline-default" style="text-align:left;"> Automatic </button>
                            <ul ngbdropdownmenu="" class="dropdown-menu" style="">
                                <li>
                                    <a ngbdropdownitem="" class="dropdown-item" tabindex="0">Automatic</a>
                                </li>
                                <li>
                                    <a ngbdropdownitem="" class="dropdown-item" tabindex="0">Another action</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row"> 
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/color.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Color</span>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/size.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Size</span>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/title.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Text</span>
                            </div>
                            <!--<div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/title.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Details</span>
                            </div>-->
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/tooltip.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Tooltip</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1">
                <div class="card mb-0" style="height: 402px; overflow-y: scroll;">
                    <div class="card-body" style="padding: 8px 20px;">
                        <h6 class="fw-600 fs-12 mt-2 mb-0">Tables</h6>
                    </div>
                    <div>
                        @for(columns of tableColumnsData; track columns){
                            <h6 class="example-box">{{columns.table_name}}</h6>
                            <div  cdkDropList 
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.dimensions"
                            [cdkDropListConnectedTo]="[columnList]"
                           
                            (cdkDropListDropped)="columndrop($event)" >
                            @for(dimensions of columns.dimensions; track dimensions){
                                <div class="example-box" 
                    (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag>{{dimensions.column}}</div>
                            }
                        </div>
                            <div cdkDropList
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.measures"
                            [cdkDropListConnectedTo]="[rowList]"
                           
                            (cdkDropListDropped)="rowdrop($event)">
                            @for(measures of columns.measures; track measures){
                                <div class="example-box" (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag># {{measures.column}}</div>
                            }
                            </div>

                        }
                      </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTAINER CLOSED -->