<app-page-header title="Sheet Title" title1="Forms" activeitem="Sheet title"></app-page-header>

   <!-- CONTAINER -->
 
   <div class="main-container container-fluid"> 
    <div class="row main-container" style="position: fixed; width: -webkit-fill-available;">
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1">
            <div class="card mb-0" style="height: 466px; overflow-y: scroll;">
                <div class="card-body p-1">
                    <h6 class="fw-600 fs-12 mt-2 mb-2 ">Tables</h6>
                    <div>
                        @for(columns of tableColumnsData; track columns){
                            <div  class="menu-item">
                            <div class="menu-title" class="example-box" style=" font-weight: 700;" (click)="toggleSubMenu(columns)">
                                <span class="arrow"> {{ columns.expanded ? '▲' : '▼' }}
                                    {{columns.table_name}} </span>

                              </div>
                              
                              @if(columns.expanded){
                            <div  cdkDropList 
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.dimensions"
                            [cdkDropListConnectedTo]="[columnList]"
                            (cdkDropListDropped)="columndrop($event)" >
                            
                           
                           
                           @for(dimensions of columns.dimensions; track dimensions){
                                <li class="example-box" 
                    (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag style="display: flex; justify-content: start;"><span class="abc-txt">abc</span> {{dimensions.column}}</li>
                            }
                            
                        </div>
                    
                            <div cdkDropList
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.measures"
                            [cdkDropListConnectedTo]="[rowList]"
                            (cdkDropListDropped)="rowdrop($event)">
                            
                            @for(measures of columns.measures; track measures){ 
                                <div class="example-box1"  (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag># {{measures.column}}</div>
                            }
                            </div>
                      }
                            </div>
                        }
                      </div>
                </div>
                
            </div>
        </div>
        <div class="col-xl-8 col-md-12 p-1">
            <div class="card p-0 mb-1">
                <div class="card-body p-4">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Columns</label>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0" >
                            
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" 
                                style="position: relative;min-height: 33px; padding: 2px;" 
                                #columnList="cdkDropList" 
                                [cdkDropListData]="draggedColumns" 
                                (cdkDropListDropped)="columndrop($event)">
                                    @for(columns of draggedColumns;track columns;let index = $index){
                                    <div class="example-box" (cdkDragStarted)="dragStartedColumn(index)" cdkDrag >{{ columns.column }}
                                    </div>
                                    }
                                </div> 
                             <!--   <ul style=" bottom: 15px; left: -5px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left" (click)="rightArrow()" >
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right" > </i>
                                        </button>
                                    </li>
                                </ul>  -->                       
                            
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0" style="overflow: auto; white-space: nowrap;">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Rows</label>
                            </div> 
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0">
                           
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="
                                position: relative; min-height: 33px; padding: 2px;"
                                #rowList="cdkDropList" 
                                [cdkDropListData]="draggedRows" 
                                (cdkDropListDropped)="rowdrop($event)">
                                    @for(rows of draggedRows;track rows;let index = $index){
                                    <div class="example-box1" (cdkDragStarted)="dragStartedRow(index)" cdkDrag>{{ rows.column }}
                                    </div>
                                    }
                                </div>  
                               <!-- <ul style=" bottom: 15px; left: -5px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"> </i>
                                        </button>
                                    </li>
                                </ul> -->                         
                            
                        </div>
                    </div>
                </div>
            </div>
          <!--  <div class="">

                <h2>Dynamic Sheets Example</h2>
                  <div>
                    <mat-form-field style="width:100%">
                      <table class="example-full-width" cellspacing="0">
                          <tr>
                            <td>
                              <mat-label>Sheet Name</mat-label>
                              <input matInput  [(ngModel)]="tabtitle" >
                            </td>
                            <td>
                              <button mat-raised-button
                                  class="example-add-tab-button"
                                    (click)="addSheet()">
                              Add new Sheet
                            </button>
                            </td>
                            <td>
                             
                        
                          </td>
                        </tr>
                      </table>
                   </mat-form-field>
                  
                </div>
                
                <mat-tab-group [selectedIndex]="selected.value"
                               (selectedIndexChange)="selected.setValue($event)">
                               @for(tab of tabs;track tab; let index = $index){
                  <mat-tab  [label]="tab">
                
                    <br>  <br>
                    Contents for {{tab}} tab
                
                    <button mat-raised-button
                            class="example-delete-tab-button"
                            [disabled]="tabs.length === 1"
                            (click)="removeTab(index)">
                      Delete Tab
                    </button>
                     <br> <br> <br>
                  </mat-tab>
                }
                </mat-tab-group>
                
                </div>-->
            <div class="card mb-0" style="height: 352px; overflow-y: scroll;">
                 <div class="card-body" style="display: flex; justify-content: center; align-items: center;">

                     
                            <div class="body table-responsive" style="max-height:300px;padding: 0px;">
                                @if(table){
                                <table>
                                    <thead>
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <th>{{ column }}</th>
                                        }
                                      </tr>
                                    </thead>
                                    <tbody>
                                        @for(row of tableData;track row){
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <td>{{ row[column] }}</td>
                                        }
                                      </tr>
                                    }
                                    </tbody>
                                  </table>
                                }
              @if(bar){
              <h6>Bar Chart</h6>
              <figure id="bar"></figure>
              }
              @if(pie){
              <h6>Pie Chart</h6>
             <figure id="pie"></figure>
              }
              @if(line){
                <h6>Line Chart</h6>
                <div class="card-body">
                    <div id="line-chart">
                        <apx-chart [series]="chartOptions.series || []" [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels"
                        [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [title]="chartOptions.title" [colors]="chartOptions.colors"></apx-chart>
                    </div>
                </div>
              }
              @if(area){
                <h6>Area Chart</h6>
                <div class="card-body">
                    <div id="area-chart">
                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                        [xaxis]="chartOptions1.xaxis" [stroke]="chartOptions1.stroke"
                        [dataLabels]="chartOptions1.dataLabels" [yaxis]="chartOptions1.yaxis"
                        [labels]="chartOptions1.labels" [legend]="chartOptions1.legend"  [grid]="chartOptions1.grid"
                        [title]="chartOptions1.title" [subtitle]="chartOptions1.subtitle"[colors]="chartOptions1.colors"></apx-chart>
                    </div>
                </div>
              }
            </div>      
                 </div>
                    <div class="card-footer d-flex p-2">
                          <ul ngbnav="" id="footer-tab border-1" role="tablist" class="nav nav-pills fs-12">
                               <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-right">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                               <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-left">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button " ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-23" aria-disabled="false" aria-controls="ngb-nav-23-panel" class="nav-link BtnNewStyle active"> Sheet 1</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 2</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 3</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 4</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 5</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 6</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" 
                                  tabindex="-1" class="nav-link BtnNewStyle">
                                    <i class="fa fa-plus-square-o"></i>
                                </button>
                            </li>
                        </ul>
                   </div>
                </div>

             </div>
             <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1">
                <div class="card mb-1" style=" height: 100px; overflow-y: scroll;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Filters </div>
                    </div>
                    <div class="card-body px-5">
                        <div class="row"> 
                            
                        </div>
                    </div>
                </div>
                <div class="card mb-1" style=" overflow-y: scroll; height: 160px;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Charts </div>
                    </div>
                    <div class="card-body" style=" padding: 2px 12px;">
                        <div class="row"> 
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Table" tooltipClass="tooltip-primary" (click)="chartDisplay(true,false,false,false,false)"><img src="./assets/images/charts/Table-chart.png" class="rounded-2 w-100 mrk-t"></a>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Bar" tooltipClass="tooltip-primary" (click)="chartDisplay(false,true,false,false,false)"><img src="./assets/images/charts/Bar-chart.png" class="rounded-2 w-100 mrk-t"></a>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Area" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,true,false,false)"><img src="./assets/images/charts/area-chart.png" class="rounded-2 w-100 mrk-t"></a>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Line" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,true,false)"><img src="./assets/images/charts/Line-chart.png" class="rounded-2 w-100 mrk-t"></a>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Pie" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,true)"><img src="./assets/images/charts/pie-chart.png" class="rounded-2 w-100 mrk-t"></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card mb-0" style=" height: 195px; overflow-y: scroll;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Marks </div>
                    </div>
                    <div class="card-body" style=" padding: 2px 12px;">
                        <div ngbdropdown="" class="btn-group my-1 dropdown">
                            <button type="button" ngbdropdowntoggle="" data-bs-toggle="dropdown" aria-expanded="false" class="dropdown-toggle btn btn-outline-default" style="text-align:left;"> Automatic </button>
                            <ul ngbdropdownmenu="" class="dropdown-menu" style="">
                                <li>
                                    <a ngbdropdownitem="" class="dropdown-item" tabindex="0">Automatic</a>
                                </li>
                                <li>
                                    <a ngbdropdownitem="" class="dropdown-item" tabindex="0">Another action</a>
                                </li>
                            </ul>
                        </div>
                        <div class="row"> 
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/color.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Color</span>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/size.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Size</span>
                            </div>
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/title.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Text</span>
                            </div>
                            <!--<div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/title.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Details</span>
                            </div>-->
                            <div class="col-4 px-2 mt-2">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/tooltip.png" alt="img" class="rounded-2 w-100 mrk-t">
                                </a>
                                <span class="mark-txt fs-11">Tooltip</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <!-- CONTAINER CLOSED -->