

   <!-- CONTAINER -->
 
   <div class="main-container container-fluid mt-5"> 
    <div class="row main-container" style="position: fixed; width: -webkit-fill-available;">
        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1 mt-3">
            <div class="card mb-0" >
                <div class="card-body p-0 ">
                    <div class="card mb-0 p-4 br-0 border-bottom">
                        <div class="d-flex align-items-center justify-content-between ">
                            <h6 class="mb-0">Connections</h6>
                            <a (click)="goToDataSource()" style="cursor: pointer;"><span class="add-txt text-info">Edit</span></a>
                            <a (click)="goToConnections()" style="cursor: pointer;"><span class="add-txt text-info">Add</span></a>
                        </div>
                        </div>
                        <div class="card mb-0 p-4 br-0 border-bottom">
                            <h6 class="mb-0">Database</h6>
                            <p class=" mb-0" ngbTooltip="{{database_name}}">{{database_name}}</p> 
                        </div>
                </div>
                <div class="card-body p-1">
                    <h6 class="fw-600  mb-0 p-4 ">Tables</h6>
                    <div style="height: 435px; overflow-y: scroll;">
                        @for(columns of tableColumnsData; track columns){
                            <div  class="menu-item mb-1">
                                
                            
                            <div class="menu-title" class="example-box border w-100" style=" font-weight: 700;" (click)="toggleSubMenu(columns)">
                                <span class="arrow"> {{ columns.expanded ? '▲' : '▼' }}
                                    {{columns.table_alias}} </span>

                              </div>
                              
                              @if(columns.expanded){
                            <div  cdkDropList 
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.dimensions"
                            [cdkDropListConnectedTo]="[columnList,rowList]"
                            (cdkDropListDropped)="columndrop($event)" >
                            
                           @for(dimensions of columns.dimensions; track dimensions){
                               <div class="d-flex justify-content-between border border-bottom">
                                <li class="example-box" ngbTooltip="{{dimensions.column}}"
                                (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag  >
                                <span class="abc-txt">abc</span>
                                {{ dimensions.column?.substr(0,15) }}{{ dimensions.column.length > 15 ? '...' : '' }}
                                </li>
                                <div class="dashboard-option">
                                    <div class=" p-1" ngbDropdown>
                                        <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                            aria-haspopup="true" aria-expanded="false" class=""><i
                                                class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                                        </a>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);" (click)="openSuperScaled(content,dimensions)"> Apply Filters </a>
                                           <!-- <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"> Export</a>
                                            <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"> Delete</a>-->
                                        </div>
                                    </div>
                                  </div>
                               </div>
                            }
                        </div>
                            <div cdkDropList
                            #originList="cdkDropList"
                            [cdkDropListData]="columns.measures"
                            [cdkDropListConnectedTo]="[rowList,columnList]"
                            (cdkDropListDropped)="rowdrop($event)">
                            
                            @for(measures of columns.measures; track measures){ 
                                <div class="example-box1 border m-0 ps-3 pe-0" ngbTooltip="{{measures.column}}" (cdkDragStarted)="tableNameMethod(columns.schema,columns.table_name,columns.table_alias)" cdkDrag ># 
                                    {{ measures.column?.substr(0,18) }}{{ measures.column.length > 18 ? '...' : '' }}
                                    <div class="dashboard-option">
                                        <div class=" p-1" ngbDropdown>
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                                aria-haspopup="true" aria-expanded="false" class=""><i
                                                    class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                                            </a>
                                            <div class="dropdown-menu" ngbDropdownMenu>
                                                <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);" (click)="openSuperScaled(content,measures)"> Apply Filters </a>
                                               <!-- <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"> Export</a>
                                                <a class="dropdown-item" ngbDropdownItem href="javascript:void(0);"> Delete</a>-->
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            }
                            </div>
                      }
                            </div>
                        }
                      </div>
                      <ng-template #content let-modal>
                        <div class="modal-header">
                          <h6 class="modal-title">Filters</h6>
                          <button type="button"class="btn-close"aria-label="Close"(click)="modal.dismiss('Cross click')">
                          </button>
                        </div>
                        <div class="modal-body" style="height: 500px; overflow: scroll;">
                            @for(data of filterData;track data){
                                @if(data?data:''){
                            <div class="form-check" >
                                <input type="checkbox" name="checkbox" id="defaultCheck1" [checked]="data.selected" class="form-check-input" (click)="filterCheck($event,data)">    
                                <label for="defaultCheck1" class="form-check-label"> {{data}} </label>
                            </div>
                         }
                        }
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn ripple btn-primary" (click)="filterDataPut()">Apply</button>
                          <button
                            type="button"
                            class="btn ripple btn-secondary"
                            (click)="modal.close('Save click')"
                          >
                            Close
                          </button>
                        </div>
                      </ng-template>

                     
                </div>
                
            </div>
        </div>
        <div class="col-xl-8 col-md-12 p-1 mt-3">
           <div class="card p-0 mb-1">
           
                <div class="card p-0 mb-1">
                    <div class="card-body" style="padding: 1px 17px 1px 13px;">
                        <div class="row align-items-center">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xl-11 p-1" >
                                <input  type="text" placeholder="Sheet Name" aria-label="Sheet" class="form-control" [(ngModel)]="sheetTitle" (keydown)="sheetNameChange(sheetTitle,$event)">
                                
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xl-0 p-0">
                                <button class="btn btn-primary w-100" (click)="sheetSave()">Save </button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="card-body" style="padding: 2px 16px;">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Columns</label>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0" >
                            
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" 
                                style="position: relative;min-height: 33px; padding: 2px;" 
                                #columnList="cdkDropList" 
                                [cdkDropListData]="draggedColumns" 
                                (cdkDropListDropped)="columndrop($event)">
                                    @for(columns of draggedColumns;track columns;let index = $index){
                                    <div class="example-box border-end" (cdkDragStarted)="dragStartedColumn(index)"  cdkDrag >
                                        {{ columns.column }}
                                     <!-- <input class="form-control" [(ngModel)]="columns.column" value="" type="text">-->

                                        <div class="" ngbDropdown>
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                                aria-haspopup="true" aria-expanded="false" class=""><i class="fe fe-chevron-down fs-18 text-body-secondary"></i>
                                                
                                                <div class="dropdown-menu p-1 cu" ngbDropdownMenu>
                                                    <a class="btn btn-outline-light mx-0" style="text-align: left !important;" (click)="dragStartedColumn(index)"> Remove</a> 
                                                    <a class="btn btn-outline-light mx-0" style="text-align: left !important;" (click)="renameColumn(index)"> Rename</a> 
                                                </div>

                                            </a>
                                        </div>
                                    
                                    </div>
                                    }
                                </div> 
                                
                             <!--   <ul style=" bottom: 15px; left: -5px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left" (click)="rightArrow()" >
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right" > </i>
                                        </button>
                                    </li>
                                </ul>  -->                       
                            
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xl-2 p-0" style="overflow: auto; white-space: nowrap;">
                            <div class="card-area d-flex gap-2">
                                <label for="inputName" class="form-control mb-0">Rows</label>
                            </div> 
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xl-10 p-0">
                           
                                <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" style="
                                position: relative; min-height: 33px; padding: 2px;"
                                #rowList="cdkDropList" 
                                [cdkDropListData]="draggedRows" 
                                (cdkDropListDropped)="rowdrop($event)">
                                    @for(rows of draggedRows;track rows;let index = $index){
                                    <div class="example-box1 border-end" style="cursor: pointer;" (cdkDragStarted)="dragStartedRow(index)" cdkDrag>
                                        @if(rows.type){
                                            {{ rows.type }} ({{rows.column}})
                                        }@else{
                                        {{ rows.column }}
                                        }
                                        <div class="" ngbDropdown>
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                                aria-haspopup="true" aria-expanded="false" class=""><i class="fe fe-chevron-down fs-18 text-body-secondary"></i>
                                                
                                                <div class="dropdown-menu p-1 cu" ngbDropdownMenu>
                                                    <a class="btn btn-outline-light mx-0 mb-2" (click)="openSuperScaledModal(aggregateUserModal,rows.type)" style="text-align: left !important;"> Aggregation</a> 
                                                    <a class="btn btn-outline-light mx-0" style="text-align: left !important;" (click)="dragStartedRow(index)"> Remove</a> 
                                                </div>

                                            </a>
                                        </div>
                                        <ng-template #aggregateUserModal let-modal>
                                            <div class="modal-header p-2 bg-light">
                                              <h6 class="modal-title">Aggregated measures:</h6>
                                              <button type="button"class="btn-close"aria-label="Close"(click)="modal.dismiss('Cross click')">
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="card-body p-0">
                                                    <div class="column-card">
                                                        <p class="fw-semibold mb-1 ">Row : {{rows.column}}</p>
                                                       </div>
                                                   <div class="aggregate-card mt-3">
                                                    <p class="fw-semibold mb-1 ">Aggregate</p>
                                                    <select  class="form-control" [(ngModel)]="measureValue"  (change)="rowMeasuresCount(rows,index,measureValue)">
                                                        <option [selected] value="">-Select-</option>
                                                        <option value="sum">Sum</option>
                                                        <option value="avg">Avg</option>
                                                        <option value="min">Min</option>
                                                        <option value="max">Max</option>
                                                        <option value="count">Count</option>
                                                        <option value="">None</option>
                                                      </select>
                                                   </div>
                                                </div>
                                           
                                            </div>
                                           <!-- <div class="modal-footer p-2">
                                              <button type="button" class="btn ripple btn-primary">Save</button>
                                              <button
                                                type="button"
                                                class="btn ripple btn-secondary"
                                                (click)="modal.close('Save click')"
                                              >
                                                Close
                                              </button>
                                            </div>-->
                                          </ng-template>
                                        <!-- <i class="fe fe-more-vertical fs-18 text-body-secondary" (click)="openSuperScaledModal(aggregateModal)"></i> -->
                                       <!--  <i class="fe fe-more-vertical fs-18 text-body-secondary" (click)="toggleDropdown()"></i>
                                        <select  class="form-control" [(ngModel)]="measureValue" [class.show]="isDropdownVisible" (change)="rowMeasuresCount(rows,index,measureValue)">
                                            <option value="sum">Sum</option>
                                            <option value="avg">Avg</option>
                                            <option value="min">Min</option>
                                            <option value="max">Max</option>
                                            <option value="count">Count</option>
                                          </select>
                                         <div class="dropdown">
                                            <button (click)="toggleDropdown()" class="dropdown-button">
                                              <span>▼</span> 
                                            </button>
                                            <div class="dropdown-content" [class.show]="isDropdownVisible">
                                                <select  class="form-control" [(ngModel)]="measureValue"  (change)="rowMeasuresCount(rows,index,measureValue)">
                                                    <option value="sum">Sum</option>
                                                    <option value="avg">Avg</option>
                                                    <option value="min">Min</option>
                                                    <option value="max">Max</option>
                                                    <option value="count">Count</option>
                                                  </select>
                                            </div>
                                          </div>-->
                                        
                                    </div>
                                    }
                                </div>  
                               <!-- <ul style=" bottom: 15px; left: -5px;  position: relative;" class="nav nav-pills fs-12 justify-content-end" role="tablist" id="footer-tab border-1" ngbnav="" >
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-right">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                        </button>
                                    </li>
                                    <li role="presentation" class="nav-item">
                                        <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnRowStyle span-left">
                                            <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"> </i>
                                        </button>
                                    </li>
                                </ul> -->                         
                            
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="card mb-0" style="height: 488px; overflow-y: scroll;">
                 <div class="card-body p-1" style="display: flex; justify-content: center; align-items: center;">
                    @for(tab of tabs;track tab; let index = $index){
                       
                        @if(tab === sheetName){
                          
                            <div class="body table-responsive" style="max-height:385px;padding: 0px;">
                                
                                @if(table && chartId){
                                <table>
                                    <thead>
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <th>{{ column }}</th>
                                        }
                                      </tr>
                                    </thead>
                                    <tbody>
                                        @for(row of tableData;track row){
                                      <tr>
                                        @for(column of displayedColumns;track column){
                                        <td>{{ row[column] }}</td>
                                        }
                                      </tr>
                                    }
                                    </tbody>
                                  </table>
                                }
              @if(bar && chartId){
              <!--<h6>Bar Chart</h6>
              <figure id="bar"></figure>-->

              <div class="card-body">
                <div id="bar-chart">
                    <apx-chart
                    [series]="chartOptions3.series"
                    [chart]="chartOptions3.chart"
                    [dataLabels]="chartOptions3.dataLabels"
                    [plotOptions]="chartOptions3.plotOptions"
                    [xaxis]="chartOptions3.xaxis"[colors]="chartOptions3.colors"  [grid]="chartOptions3.grid"
                  ></apx-chart>
                </div>
            </div>
              }
              @if(area && chartId){
                <div class="card-body">
                    <div id="area-chart">
                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                        [xaxis]="chartOptions1.xaxis" [stroke]="chartOptions1.stroke"
                        [dataLabels]="chartOptions1.dataLabels" [yaxis]="chartOptions1.yaxis"
                        [labels]="chartOptions1.labels" [legend]="chartOptions1.legend"  [grid]="chartOptions1.grid"
                        [title]="chartOptions1.title" [subtitle]="chartOptions1.subtitle"[colors]="chartOptions1.colors"></apx-chart>
                    </div>
                </div>
              }
              @if(line && chartId){
                <div class="card-body">
                    <div id="line-chart">
                        <apx-chart [series]="chartOptions.series || []" [chart]="chartOptions.chart"
                        [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels"
                        [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [title]="chartOptions.title" [colors]="chartOptions.colors"></apx-chart>
                    </div>
                </div>
              }
              @if(pie && chartId){
             <!-- <h6>Pie Chart</h6>
             <figure id="pie"></figure>-->
             <div class="card-body">
                <div id="pie-basic">
                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart" [legend]="chartOptions4.legend"
                    [labels]="chartOptions4.labels" [responsive]="chartOptions4.responsive" [colors]="chartOptions4.colors" [dataLabels]="chartOptions4.dataLabels"></apx-chart>
                </div>
            </div>
              }
              
             
              @if(sidebyside && chartId){
                <div class="card-body">
                    <div id="column-chart">
                        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                        [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
                        [yaxis]="chartOptions2.yaxis" [legend]="chartOptions2.legend" [fill]="chartOptions2.fill"
                        [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip" [colors]="chartOptions2.colors" [grid]="chartOptions2.grid"
                        [xaxis]="chartOptions2.xaxis"></apx-chart>
                    </div>
                </div>
              }
              @if(stocked){
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions6.series"
                      [chart]="chartOptions6.chart"
                      [dataLabels]="chartOptions6.dataLabels"
                      [plotOptions]="chartOptions6.plotOptions"
                      [responsive]="chartOptions6.responsive"
                      [xaxis]="chartOptions6.xaxis"
                      [legend]="chartOptions6.legend"
                      [fill]="chartOptions6.fill"
                    ></apx-chart>
                  </div>
              }
             @if(barLine){
                <div class="card-body">
                    <div id="mixed-linecolumn">
                        <apx-chart [series]="chartOptions5.series" [chart]="chartOptions5.chart"
                        [yaxis]="chartOptions5.yaxis" [xaxis]="chartOptions5.xaxis" [labels]="chartOptions5.labels"
                        [stroke]="chartOptions5.stroke" [title]="chartOptions5.title"  [grid]="chartOptions5.grid"
                        [dataLabels]="chartOptions5.dataLabels" [fill]="chartOptions5.fill"
                        [tooltip]="chartOptions5.tooltip"[colors]="chartOptions5.colors"></apx-chart>
                    </div>
                </div>
             }
             @if(horizentalStocked){
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions7.series"
                      [chart]="chartOptions7.chart"
                      [dataLabels]="chartOptions7.dataLabels"
                      [plotOptions]="chartOptions7.plotOptions"
                      [responsive]="chartOptions7.responsive"
                      [xaxis]="chartOptions7.xaxis"
                      [legend]="chartOptions7.legend"
                      [fill]="chartOptions7.fill"
                    ></apx-chart>
                  </div>
              }
              @if(grouped){
                <div id="chart">
                    <apx-chart
                      [series]="chartOptions8.series"
                      [chart]="chartOptions8.chart"
                      [dataLabels]="chartOptions8.dataLabels"
                      [plotOptions]="chartOptions8.plotOptions"
                      [responsive]="chartOptions8.responsive"
                      [xaxis]="chartOptions8.xaxis"
                      [legend]="chartOptions8.legend"
                      [fill]="chartOptions8.fill"
                    ></apx-chart>
                  </div>
              }
              @if(multiLine){
                <div id="chart">
                    <apx-chart
                    [series]="chartOptions9.series"
                    [chart]="chartOptions9.chart"
                    [xaxis]="chartOptions9.xaxis"
                    [stroke]="chartOptions9.stroke"
                    [tooltip]="chartOptions9.tooltip"
                    [dataLabels]="chartOptions9.dataLabels"
                    [legend]="chartOptions9.legend"
                    [markers]="chartOptions9.markers"
                    [grid]="chartOptions9.grid"
                    [yaxis]="chartOptions9.yaxis"
                    [title]="chartOptions9.title"
                  ></apx-chart>
                  </div>
              }
              @if(donut){
                <div id="donutchart">
                <apx-chart
                    [series]="chartOptions10.series"
                    [chart]="chartOptions10.chart"
                    [labels]="chartOptions10.labels"
                    [responsive]="chartOptions10.responsive" >
                </apx-chart>
                  </div>
              }
            </div>
        }
        }      
                 </div>
                    <div class="card-footer d-flex p-2">
                        <mat-tab-group [selectedIndex]="selected.value"
                        (selectedIndexChange)="selected.setValue($event)"
                        (selectedTabChange)="onChange($event);" 
                        (click)="getChartData()">
                        @for(tab of tabs;track tab; let index = $index){
           <mat-tab  [label]="tab ">
          <!--  <br>  <br>
             Contents for {{tab}} tab
         
             <button mat-raised-button
                     class="example-delete-tab-button"
                     [disabled]="tabs.length === 1"
                     (click)="removeTab(index)">
               Delete Tab
             </button>
              <br> <br> <br>-->
           </mat-tab>
         }
         </mat-tab-group>
         
                          <ul ngbnav="" id="footer-tab border-1 " role="tablist" class="nav nav-pills fs-12 " style=" display: contents;">
                             <!--  <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-right">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-left" class="fa fa-caret-left"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                               <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle span-left">
                                    <i data-bs-toggle="tooltip" ngbtooltip="fa fa-caret-right" class="fa fa-caret-right"></i>
                                </button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button " ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-23" aria-disabled="false" aria-controls="ngb-nav-23-panel" class="nav-link BtnNewStyle active"> Sheet 1</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 2</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 3</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 4</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 5</button>
                            </li>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" tabindex="-1" class="nav-link BtnNewStyle">Sheet 6</button>
                            </li>-->
                            <div >
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" [class.disabled]="SheetSavePlusEnabled.length>0" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" 
                                  tabindex="-1" class="nav-link BtnNewStyle" (click)="addSheet()" style="padding: 14px;">
                                    <i class="fa fa-plus-square-o"></i>
                                </button>
                            </li>
                        </div>
                            <li role="presentation" class="nav-item">
                                <button type="button" ngbnavlink="" [class.disabled]="!retriveDataSheet_id" data-bs-toggle="tab" role="tab" aria-selected="true" id="ngb-nav-24" aria-disabled="false" 
                                  tabindex="-1" class="nav-link BtnNewStyle" (click)="removeTab()" style="padding: 14px;">
                                    <i class="fe fe-trash" ></i>
                                </button>
                            </li>
                        </ul>
                        <div  style="display: flex;justify-content: center;"><button (click)="gotoDashboard()" class="nav-link BtnNewStyle px-2">Goto Dashboard</button></div>
                   </div>
                  
                </div>

             </div>
             <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 mt-3 p-1">
                <div class="card mb-1" style=" height: 172px; overflow-y: scroll;">
                    <div class="card-header justify-content-start align-items-center">
                        <div class="card-title fs-12">Filters </div>
                    </div>
                    <div class="card-body p-1">
                        @for(dimen of dimetionMeasure;track dimen;let index = $index){
                        <div class="example-box justify-content-start border-bottom" style="cursor: pointer;"> 
                           {{dimen.col_name}}
                           <div class="filter-icons">
                            <i class="fe fe-edit fs-12 text-body-secondary ms-2" (click)="openSuperScalededitFilter(contentedit,dimen)"></i>
                            <i class="fe fe-trash fs-12 text-body-secondary ms-1" (click)="filterDelete(index,dimen.filter_id)"></i>
                        </div>
                        </div>
                    }
                    </div>
                    <ng-template #contentedit let-modal>
                        <div class="modal-header">
                          <h6 class="modal-title"> Edit Filter</h6>
                          <button type="button"class="btn-close"aria-label="Close"(click)="modal.dismiss('Cross click')">
                          </button>
                        </div>
                        <div class="modal-body"  style="height: 500px; overflow: scroll;">
                            @for(data of filterData;track data){
                            <div class="form-check">
                                <input type="checkbox" name="checkbox" id="defaultCheck1" [(ngModel)]="data.selected" class="form-check-input" (click)="filterCheck($event,data.label)">    
                                <label for="defaultCheck1" class="form-check-label"> {{data.label}} </label>
                            </div>
                        }
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn ripple btn-primary" (click)="filterDataEditPut()">Apply</button>
                          <button
                            type="button"
                            class="btn ripple btn-secondary"
                            (click)="modal.close('Save click')"
                          >
                            Close
                          </button>
                        </div>
                      </ng-template>
                </div>
                <div class="card mb-1" style=" overflow-y: scroll; height: 220px;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Charts </div>
                    </div>
                    <div class="card-body" style=" padding: 2px 12px;">
                        <div class="row"> 
                           
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);"  data-bs-toggle="tooltip" ngbTooltip="Table" tooltipClass="tooltip-primary" (click)="chartDisplay(true,false,false,false,false,false,false,false,false,false,false,false,1)"><img src="./assets/images/charts/Table-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>1">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Bar" tooltipClass="tooltip-primary" (click)="chartDisplay(false,true,false,false,false,false,false,false,false,false,false,false,6)"><img src="./assets/images/charts/Bar-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>1">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Area" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,true,false,false,false,false,false,false,false,false,false,17)"><img src="./assets/images/charts/area-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>1">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Line" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,true,false,false,false,false,false,false,false,false,13)"><img src="./assets/images/charts/Line-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>1">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Pie" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,true,false,false,false,false,false,false,false,24)"><img src="./assets/images/charts/pie-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon "></a>
                            </div>
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Side-Bar" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,true,false,false,false,false,false,false,7)"><img src="./assets/images/charts/bar-bar.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Stacked-Bar" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,true,false,false,false,false,false,5)"><img src="./assets/images/charts/stocked_bar.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon "></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Bar-Line" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,false,true,false,false,false,false,4)"><img src="./assets/images/charts/Bar-line.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="HStacked" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,false,false,true,false,false,false,2)"><img src="./assets/images/charts/horizental-stacked.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="HGrouped" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,false,false,false,true,false,false,3)"><img src="./assets/images/charts/Bar-bar-horizental.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Multi-Line" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,false,false,false,false,true,false,8)"><img src="./assets/images/charts/multi-line.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon"></a>
                            </div>
                            <div class="col-3 px-2 mt-2" [class.disabled]="draggedRows.length>1">
                                <a href="javascript:void(0);" data-bs-toggle="tooltip" ngbTooltip="Donut" tooltipClass="tooltip-primary" (click)="chartDisplay(false,false,false,false,false,false,false,false,false,false,false,true,10)"><img src="./assets/images/charts/doughnut-chart.png" class="rounded-2 w-90 mrk-t border p-1 chart-icon "></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0" style=" height: 222px; overflow-y: scroll;">
                    <div class="card-header justify-content-between align-items-center">
                        <div class="card-title fs-12">Marks </div>
                    </div>
                    <div class="card-body" style=" padding: 2px 12px;">
                        <div class="row"> 
                            <div class="col-3 px-2 m-1 border text-center sub-menu-item">
                                <div class="" ngbDropdown>

                                <ngx-colors 
                               ngx-colors-trigger 
                               [(ngModel)]="color"  (click)="marksColor(color)"
                               [format] = "'hex'"
                                ></ngx-colors>
                                  <!--  <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                        aria-haspopup="true" aria-expanded="false" class=""><img _ngcontent-ng-c394438746="" src="./assets/images/marks/color.png" alt="img" class="rounded-2 w-70 mrk-t mt-1">
                                    </a>
                                    <div class="dropdown-menu p-3" ngbDropdownMenu>
                                        <h5 class="card-title fs-14 mb-1  border-bottom">Color...</h5>
                                        <a class="btn btn-blue-light mx-4"> Edit colors</a> 
                                    </div>-->
                                    <span class="mark-txt fs-11">Color</span>
                                </div>
                                
                            </div>
                            <div class="col-3 px-2 m-1 border text-center sub-menu-item">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/title.png" alt="img" class="rounded-2 w-70 mrk-t mt-1">
                                </a>
                                <span class="mark-txt fs-11">Text</span>
                            </div>
                            <div class="col-3 px-2 m-1 border text-center sub-menu-item">
                                <div class="" ngbDropdown>
                                    <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                        aria-haspopup="true" aria-expanded="false" class=""><img _ngcontent-ng-c394438746="" src="./assets/images/marks/size.png" alt="img" class="rounded-2 w-70 mrk-t mt-1">
                                    </a>
                                    <div class="dropdown-menu p-3" ngbDropdownMenu>
                                        <input type="range" class="form-range" id="customRange1">
                                    </div>
                                </div>
                                <span class="mark-txt fs-11">Size</span>
                            </div>
                            <div class="col-3 px-2 m-1 border text-center sub-menu-item">
                                <a href="javascript:void(0);">
                                    <img src="./assets/images/marks/tooltip.png" alt="img" class="rounded-2 w-70 mrk-t mt-1">
                                </a>
                                <span class="mark-txt fs-11">Tooltip</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <!-- CONTAINER CLOSED -->
