.card-padding-top { padding-top: 15px; }
.header-title-search{  display: flex;  justify-content: space-between;  padding-left: 20px; padding-right: 20px; }
.table-responsive-height { height: 26rem; }
.table-primary-position { position: sticky; top: -1px; }
.selectable-card { cursor: pointer; transition: background-color 0.3s ease-in-out; }
.card-box-shadow{ box-shadow: 5px 10px 10px 5px #0000001a;}
.tiled-header-bg {  display: flex;  justify-content: space-between; color: #fff; }
.pagination-count { float: right; font-size: 15px; margin-top: -34px;  }