<app-page-header title="Database Connections" title1="home" activeitem="Data Source"></app-page-header>
<!-- CONTAINER -->

<ng-template #mdo let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">PostgreSQL</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">SERVER<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">PORT<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="e.g. 5432">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DATABASE<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}" placeholder="e.g. PostgreSQL">
              </div>
              <div class="mb-2">
                <label class="col-form-label">USER NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">PASSWORD <span class="text-danger ms-1" >*</span></label>
                <input type="password" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}" autocomplete="new-mypswd" [type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="postgreSignIn()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #oracle let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">Oracle</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">Server:</label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">Port:</label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="1521">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Service Name:</label>
                <input type="text" class="form-control" [(ngModel)]="OracleServiceName" [ngModelOptions]="{standalone: true}" placeholder="orcl">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Username:</label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" placeholder="e.g.InsightApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Password:</label>
                <input type="text" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}"[type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="OracleSignIn()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #EditDbCon let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">Edit Database</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">SERVER<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">PORT<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="e.g. 5432">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DATABASE<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}" placeholder="e.g. PostgreSQL">
              </div>
              <div class="mb-2">
                <label class="col-form-label">USER NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">PASSWORD <span class="text-danger ms-1" >*</span></label>
                <input type="password" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}" autocomplete="new-mypswd" [type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="postgreSignIn()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
<!-- screen2 -->
@if(databaseconnectionsList){
  <div class="main-container container-fluid">
    <div class="row" class="card" style="padding: 20px;">
    <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
        <div class="card-header" >
            <h4 class="card-title">Connected Database</h4>
            <div>
            <button type="button" class="btn btn-primary" (click)="databaseconnectionsList=false;viewNewDbs=true;" style="position: absolute;top: 0;right: 23px;"><i class="fa fa-plus"></i> New Database</button></div>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="height: 26rem;">
                <table class="table border text-nowrap text-md-nowrap mb-0">
                    <thead class="table-primary" style="position: sticky;top: 0;background-color: #00a5a2;">
                        <tr>
                            <th>Database Name</th>
                            <th>Server</th>
                            <th>Created at</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(database of connectionList;track database){
                        <tr>
                            <td (click)="getTablesFromConnectedDb(database.database_id)">{{database.display_name}}</td>
                            <td>{{database.server_type}}</td>
                            <td>{{database.created_at}}</td>
                            <td>{{database.updated_at}}</td>
                            <td>
                               <button type="button" class="btn btn-icon btn-primary rounded-pill" style="margin-inline-end: .5rem" (click)="editDbDetails(database.database_id);editDbConnectionModal(EditDbCon);
                               "><i class="fa fa-edit" data-bs-toggle="tooltip" ngbTooltip="Edit database"></i></button> 
                               <button type="button" class="btn btn-icon btn-secondary rounded-pill" (click)="deleteDbConnection(database.database_id)"><i class="fa fa-trash-o" data-bs-toggle="tooltip" ngbTooltip="Delete database"></i></button> 
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
                <!-- <div class="">
                   <ul class="list-group" style="max-height: 409px;overflow-y: scroll;">
                        <li class="list-group-item active" style="position: sticky;top: 0;">Connected Database</li>
                        @for(database of connectionList;track database){
                        <li class="list-group-item" (click)="getTablesFromConnectedDb(database.database_id)">{{database.display_name}}</li>
                        }
                        
                    </ul>
                </div> -->
                <!-- <div class="card-body">
                    <div class="text-wrap">
                        <div class="dropdown-samples">
                            <ul class="dropdown-menu dropdown-scroll">
                                <li class="list-group-item active" style="position: sticky;top: 0;">Connected Database</li>
                                <li>
                                    @for(database of connectionList;track database){
                                        <li class="list-group-item" (click)="getTablesFromConnectedDb(database.database_id)">{{database.display_name}}</li>
                                        }
                                </li>
                            </ul>               
                        </div>
                    </div>
                </div> -->
    </div>
    <!-- <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item active">Relational Database</li>
                        <li class="list-group-item" style="background-color: #e7ffe7;">Oracle</li>
                        <li class="list-group-item">DB2</li>
                        <li class="list-group-item">PMySQL</li>
                        <li class="list-group-item">SQL Server</li>
                        <li class="list-group-item">Access</li>
                        <li class="list-group-item" (click)="openPostgreSql()" style="background-color: #e7ffe7;">PostgreSQL</li>
                        <li class="list-group-item">Sybase</li>
                        <li class="list-group-item">Informix</li>
                    </ul>
                </div>
    </div> -->
    <!-- <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item active">Program Data Source&Others</li>
                    <li class="list-group-item">Java API</li>
                    <li class="list-group-item">Hibernate</li>
                    <li class="list-group-item">Webservice Data Source</li>
                    <li class="list-group-item">SOA Data Source</li>
                    <li class="list-group-item">Analytics Data Source</li>
                    <li class="list-group-item">ODBC Data Source</li>
                    <li class="list-group-item">JNDI Data Source</li>
                    <li class="list-group-item">SAp Data Source</li>
                </ul>
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item active">NoSQL Database</li>
                    <li class="list-group-item">MongoDB</li>
                    <li class="list-group-item">SQLite</li>
                    <li class="list-group-item">Cassandra</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">Multi-dimensional Database</li>
                    <li class="list-group-item">SAP HANA</li>
                    <li class="list-group-item">SAP BW</li>
                    <li class="list-group-item">SSAS</li>
                    <li class="list-group-item">EssBase</li>
                </ul>
        </div>
    </div> -->
       
    </div>
  </div>


}
  <!-- screen3 -->
  @if(openPostgreSqlForm){
  <div class="main-container container-fluid" style="display: flex;justify-content: center;">
    <div class="col-md-12 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Connect To PostGreSQL</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-2">
                        <label for="recipient-name" class="col-form-label">Server:</label>
                        <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="mb-2">
                        <label for="message-text" class="col-form-label">Port:</label>
                        <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="mb-2">
                        <label class="col-form-label">Database:</label>
                        <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="mb-2">
                        <label class="col-form-label">Username:</label>
                        <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="mb-2">
                        <label class="col-form-label">Password:</label>
                        <input type="text" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div style="float: right;">
                        <button type="button" class="btn btn-secondary mt-4 mb-0" style="margin-right: 20px;">Close</button>
                        <button type="button" class="btn btn-primary mt-4 mb-0" (click)="postgreSignIn()">Sign In</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
  </div>
    }


    <!-- screen4Tables -->
    @if(openTablesUI){
        <div class="main-container container-fluid">
            <div class="row" cdkListGroup>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-5">
                    <div class="card" style="height: 560px;">
                        <div class="card-header" style="justify-content: center;">
                            <!-- <div class="dropdown" ngbDropdown>
                                <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Data Connections
                                </button>
                                <ul class="dropdown-menu" ngbDropdownMenu style>
                                    <li><a class="dropdown-item" ngbDropdownItem>Oracle</a></li>
                                    <li><a class="dropdown-item" (click)="Openmdo(mdo)" ngbDropdownItem>PostGreSQL</a></li>
                                </ul>
                            </div> -->
                            <label class="list-group-item active">{{databaseName}}</label>
                        </div>
                        @if(tableList.length){ 
                        <div class="card-body" style="padding: 0px;">
                            <div
                            cdkDropList
                            #originList="cdkDropList"
                            [cdkDropListData]="tableList"
                            [cdkDropListConnectedTo]="[destinationList]"
                            class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            @for(item of tableList; track item; let i = $index){
                                <!-- @for(value of item.data;track value){
                                    <div class="example-box"  cdkDrag>{{value.table}} ({{item.schema}})</div>
                                } -->
                                <div class="example-box"  cdkDrag>{{item.table}} ({{item.schema}})</div>

                            }
                          </div>
                        </div>
                    }
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-7 col-md-7">
                    <div class="card" style="height: 350px;">
                        <div class="card-header">
                            <label>Drag Tables Here</label>
                        </div>
                        <div class="card-body">
                            <div cdkDropList #destinationList="cdkDropList" [cdkDropListData]="draggedtables" class="example-list-drop"
                                (cdkDropListDropped)="drop($event)">
                                @for(item of draggedtables;track $index){
                                <div class="example-box" cdkDrag>{{item.table}}({{item.schema}})
                                    <i class="mdi mdi-delete" data-bs-toggle="tooltip" (click)="onDeleteItem($index)" ngbTooltip="mdi mdi-delete"></i>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xxl-10 col-xl-8 col-lg-7 col-md-7">
                        <div class="card">
                            <div class="card-header">
                
                            </div>
                            <div class="card-body">
                
                            </div>
                
                        </div>
                    </div> -->
                </div>
                
                <div class="col-xxl-6 col-xl-6 col-lg-7 col-md-7">
                    <div class="card" style="height: 350px;">
                        <div class="card-header">
                            <label>Table Relations</label>
                            <div style="margin-left: 400px">
                            <button class="btn btn-primary" aria-expanded="false" (click)="tableRelationUi=!tableRelationUi">
                                Add
                            </button>
                        </div>
                        </div>
                        @if(draggedtables.length > 1){
                        <div class="card-body">
                            @if(tableRelationUi){
                            <div class="row">
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3">
                                    <label>{{draggedtables[0]?.table}}({{draggedtables[0]?.schema}})</label>
                                    <div class="btn-group my-2" ngbDropdown>
                                        <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ selectedClmnT1 ? selectedClmnT1 : 'Columns' }}
                                        </button>
                                        <ul class="dropdown-menu" ngbDropdownMenu>
                                            @for(data of draggedtables[0]?.columns;track data){
                                                <li>
                                            <a class="dropdown-item" ngbDropdownItem (click)="selectedClmnT1 = data.columns + ' (' + data.datatypes + ')'">{{data.columns}}({{data.datatypes}})</a>
                                                
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3" >
                                    <div style="display: flex;justify-content: center;"><label>operator</label></div>
                                    <div class="btn-group my-2" style="display: flex;justify-content: center;" ngbDropdown>
                                        <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ selectedCndn ? selectedCndn : 'Condition' }}
                                        </button>
                                        <ul class="dropdown-menu" ngbDropdownMenu>
                                            <li><a class="dropdown-item" (click)="selectedCndn = '='" ngbDropdownItem >equals(=)</a></li>
                                           
                                        </ul>
                                    </div>
                                 </div>
                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3">
                                    <label>{{draggedtables[1]?.table}}({{draggedtables[1]?.schema}})</label>
                                    <div class="btn-group my-2" ngbDropdown>
                                        <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ selectedClmnT2 ? selectedClmnT2 : 'Columns' }}
                                        </button>
                                        <ul class="dropdown-menu" ngbDropdownMenu>
                                            @for(data of draggedtables[1]?.columns;track data){
                                            <li>
                                            <a class="dropdown-item" ngbDropdownItem (click)="selectedClmnT2 = data.columns + ' (' + data.datatypes + ')';buildCustomRelation()">{{data.columns}}({{data.datatypes}})</a>                                               
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                            <div>
                                @if(relationOfTables.length){
                                    <div class="card-header">
                                        <h3 class="card-title">Relations:</h3>
                                    </div>                                   
                                    <ul class="tags">
                                        @for(relation of relationOfTables;track relation;let i = $index){
                                        <li class="tag">{{relation}}</li>
                                        }
                                    </ul>                            
                                }
                                @if(!relationOfTables.length){
                                    <div class="card-header">
                                        <h3 class="card-title">Relations:</h3>
                                    </div>                                   
                                    <ul class="tags">
                                        <li class="tag">No relation found</li>
                                    </ul>                            
                                }
                            </div>
                           
                        </div>
                    }
                    </div>
                </div>
                @if(draggedtables.length){
                <div  class="col-xxl-10 col-xl-10 col-lg-7 col-md-7 side-card">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <label>Table Joinings</label>
                                </div>
                                <div class="card-body">
                                    @if(tableRelationUi){
                                        <div class="row">
                                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3">
                                                <label>{{draggedtables[0]?.table}}({{draggedtables[0]?.schema}})</label>
                                                <div class="btn-group my-2" ngbDropdown>
                                                    <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ selectedClmnT1 ? selectedClmnT1 : 'Columns' }}
                                                    </button>
                                                    <ul class="dropdown-menu" ngbDropdownMenu>
                                                        @for(data of draggedtables[0]?.columns;track data){
                                                            <li>
                                                        <a class="dropdown-item" ngbDropdownItem (click)="selectedClmnT1 = data.columns + ' (' + data.datatypes + ')'">{{data.columns}}({{data.datatypes}})</a>
                                                            
                                                        </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3" >
                                                <div style="display: flex;justify-content: center;"><label>operator</label></div>
                                                <div class="btn-group my-2" style="display: flex;justify-content: center;" ngbDropdown>
                                                    <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ selectedCndn ? selectedCndn : 'Condition' }}
                                                    </button>
                                                    <ul class="dropdown-menu" ngbDropdownMenu>
                                                        <li><a class="dropdown-item" (click)="selectedCndn = '='" ngbDropdownItem >equals(=)</a></li>
                                                       
                                                    </ul>
                                                </div>
                                             </div>
                                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3">
                                                <label>{{draggedtables[1]?.table}}({{draggedtables[1]?.schema}})</label>
                                                <div class="btn-group my-2" ngbDropdown>
                                                    <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle data-bs-toggle="dropdown" aria-expanded="false">
                                                        {{ selectedClmnT2 ? selectedClmnT2 : 'Columns' }}
                                                    </button>
                                                    <ul class="dropdown-menu" ngbDropdownMenu>
                                                        @for(data of draggedtables[1]?.columns;track data){
                                                        <li>
                                                        <a class="dropdown-item" ngbDropdownItem (click)="selectedClmnT2 = data.columns + ' (' + data.datatypes + ')';buildCustomRelation()">{{data.columns}}({{data.datatypes}})</a>                                               
                                                        </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                            <div  class="card">
                                <div class="card-header">
                                    <!-- <label>Table Data</label> -->
                                    @if(draggedtables && draggedtables[1]){
                                         <div class="dropdown" ngbDropdown>
                                <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Tables
                                </button>
                                <ul class="dropdown-menu" ngbDropdownMenu style>
                                    @for(tables of draggedtables;track tables){
                                    <li><a class="dropdown-item" (click)="getTablerowclms(tables.table,tables.schema)" ngbDropdownItem>{{tables.table}}</a></li>
                                    }
                                    <!-- <li><a class="dropdown-item" (click)="Openmdo(mdo)" ngbDropdownItem>{{PostGreSQL}}</a></li> -->
                                </ul>
                            </div>
                                    }
                                    @if(tableName){
                                    {{tableName}}
                                    }
                                </div>
                                <div class="card-body" style="padding: 0px;height: 200px;overflow: scroll;">
                                    <div class="table-responsive">
                                        <table class="table border text-nowrap text-md-nowrap table-sm mb-0">
                                            <thead>
                                                <tr>
                                                    @for(dataa of getTableColumns;track dataa;let i = $index){
                                                            <th>{{dataa.columns}}</th>                                                       
                                                    }                                                    
                                                </tr>
                                              
                                            </thead>
                                            <tbody>
                                                @for(rowss of getTableRows;track rowss;){
                                                <tr>
                                                    @for(rowdata of rowss;track rowdata;let i = $index){

                                                    <td>{{rowdata}}</td>
                                                    }
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                   
                </div>
                }
                
            </div>
            </div>
    }
  


    @if(viewNewDbs){
        <div class="main-container container-fluid">
            <div class="row" class="card" style="padding: 20px;">
            <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
                <div class="card-header" >
                    <h4 class="card-title">Connect to Database</h4>
                    <div>
                        <div class="input-group" style="position: absolute;top: 0;right: 215px;width: 30%!important;">
                            <input type="text" class="form-control border-end-0" placeholder="Search Database Server" aria-describedby="button-addon2">
                            <button class="btn border" type="button" id="button-addon2"><i class="bi bi-search text-muted"></i></button>
                            
                        </div>
                        <button type="button" class="btn btn-primary" (click)="viewNewDbs=false;databaseconnectionsList=true;" style="position: absolute;top: 0;right: 0;">
                            <i class="fa fa-eye"></i> View Connected Database</button>
                    </div>
                </div>
                <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;">Relational Database</h6>
                <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                    <div class="image-card-container">
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/ibmdb2.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/IBM-Informix.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/mysql.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard" (click)="Openmdo(oracle)">
                        <img src="./assets/images/Db_server_images/Relational Database/Oracle_logo.png"  alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard" (click)="Openmdo(mdo)">
                        <img src="./assets/images/Db_server_images/Relational Database/postgresql.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/sql server.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/microsoft-access.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Relational Database/SyBase-logo.png" alt="Image" class="card-img"/>
                    </div>
                </div>
                </div>
                <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >Big Data Platform</h6>
                <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                    <div class="image-card-container">
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Big Data Platform/Apache_Kylin_logo.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Big Data Platform/greenplum_logo_icon_171038.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Big Data Platform/Hadoop.png" alt="Image" class="card-img"/>
                    </div>
               
                </div>
                </div>
                <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >No Sql Database</h6>
                <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                    <div class="image-card-container">
                        <div class="imgcard op-4">
                            <img src="./assets/images/Db_server_images/No Sql Database/cassandra-logo.png" alt="Image" class="card-img"/>
                        </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/No Sql Database/sqlite.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/No Sql Database/MongoDB_Logo.png" alt="Image" class="card-img"/>
                    </div>
                   
                </div>
                </div>
                <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >Multi dimensional  Database</h6>
                <div class="card-body" style="border-block-end:1px solid rgb(237 235 235);">
                    <div class="image-card-container">
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Multi dimensional  Database/sap-bw.png" alt="Image" class="card-img"/>
                    </div>
                    <div class="imgcard op-4">
                        <img src="./assets/images/Db_server_images/Multi dimensional  Database/SAP-HANA.png" alt="Image" class="card-img"/>
                    </div>
                   
                </div>
                </div>
               
            </div>
            </div>
          </div>
        
    }