<app-page-header title="Database Connections" title1="home" activeitem="Data Source"></app-page-header>
<!-- CONTAINER -->

<ng-template #mdo let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">PostgreSQL</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">SERVER<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">PORT<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="e.g. 5432">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DATABASE<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}" placeholder="e.g. PostgreSQL">
              </div>
              <div class="mb-2">
                <label class="col-form-label">USER NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">PASSWORD <span class="text-danger ms-1" >*</span></label>
                <input type="password" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}" autocomplete="new-mypswd" [type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="postgreSignIn()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-template #oracle let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">Oracle</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">Server:</label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">Port:</label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="1521">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Service Name:</label>
                <input type="text" class="form-control" [(ngModel)]="OracleServiceName" [ngModelOptions]="{standalone: true}" placeholder="orcl">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Username:</label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" placeholder="e.g.InsightApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">Password:</label>
                <input type="text" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}"[type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="OracleSignIn()">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #EditDbCon let-modal >

    <div  >
      <div >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="inputModalLabel">Edit Database</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-2">
                <label for="recipient-name" class="col-form-label">SERVER<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
              </div>
              <div class="mb-2">
                <label for="message-text" class="col-form-label">PORT<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="e.g. 5432">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DATABASE<span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}" placeholder="e.g. PostgreSQL">
              </div>
              <div class="mb-2">
                <label class="col-form-label">USER NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
              </div>
              <div class="mb-2">
                <label class="col-form-label">PASSWORD <span class="text-danger ms-1" >*</span></label>
                <input type="password" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}" autocomplete="new-mypswd" [type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                          
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
            <button type="button" class="btn btn-primary" (click)="postgreUpdate()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
<!-- screen2 -->
@if(databaseconnectionsList){
  <div class="main-container container-fluid">
    <div class="row" class="card" style="padding: 20px;">
    <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
      <div class="d-flex justify-content-between px-5">
        <div class="connect-txt">
          <h4 class="card-title mt-2">Connected Database</h4>
        </div>
        <div class="new-data-btn">
          <div class="input-group">
            <input type="text" class="form-control border-end-0 " placeholder="Search Database Server" [(ngModel)]="searchDbName" aria-describedby="button-addon2" (keydown)="getDbConnectionList()">
            <button class="btn btn-primary border me-2" type="button" id="button-addon2" style="border-radius: 0px 4px 4px 0px;"><i class="fe fe-search "></i></button>
            
            <button type="button" class="btn btn-primary" (click)="databaseconnectionsList=false;viewNewDbs=true;" style="border-radius: 4px 4px 4px 4px;"><i class="fa fa-plus"></i> New Database</button>
          </div>
        </div>
    </div>
        <div class="card-body">
            <div class="table-responsive" style="height: 26rem;">
                <table class="table border text-nowrap text-md-nowrap mb-0">
                    <thead class="table-primary" style="position: sticky;top: -1px;background-color: #00a5a2;">
                        <tr>
                            <th>Database</th>
                            <th>Server</th>
                            <th>Created at</th>
                            <th>Last Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(database of connectionList;track database){
                        <tr>
                            <td (click)="getTablesFromConnectedDb(database.database_id)">
                                <a  style="color: #05aff8;" ngbTooltip="{{database.display_name}}"> {{database.display_name | slice:0:15}}</a>
                               </td>
                            <td>{{database.server_type}}</td>
                            <td>{{database.created_at}}</td>
                            <td>{{database.updated_at}}</td>
                            <td>
                               <button type="button" class="btn btn-icon btn-primary rounded-pill" style="margin-inline-end: .5rem" (click)="editDbDetails(database.database_id);editDbConnectionModal(EditDbCon);
                               "><i class="fa fa-edit" data-bs-toggle="tooltip" ngbTooltip="Edit database"></i></button> 
                               <button type="button" class="btn btn-icon btn-secondary rounded-pill" (click)="deleteDbConnection(database.database_id)"><i class="fa fa-trash-o" data-bs-toggle="tooltip" ngbTooltip="Delete database"></i></button> 
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
                <!-- <div class="">
                   <ul class="list-group" style="max-height: 409px;overflow-y: scroll;">
                        <li class="list-group-item active" style="position: sticky;top: 0;">Connected Database</li>
                        @for(database of connectionList;track database){
                        <li class="list-group-item" (click)="getTablesFromConnectedDb(database.database_id)">{{database.display_name}}</li>
                        }
                        
                    </ul>
                </div> -->
                <!-- <div class="card-body">
                    <div class="text-wrap">
                        <div class="dropdown-samples">
                            <ul class="dropdown-menu dropdown-scroll">
                                <li class="list-group-item active" style="position: sticky;top: 0;">Connected Database</li>
                                <li>
                                    @for(database of connectionList;track database){
                                        <li class="list-group-item" (click)="getTablesFromConnectedDb(database.database_id)">{{database.display_name}}</li>
                                        }
                                </li>
                            </ul>               
                        </div>
                    </div>
                </div> -->
    </div>
    <!-- <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item active">Relational Database</li>
                        <li class="list-group-item" style="background-color: #e7ffe7;">Oracle</li>
                        <li class="list-group-item">DB2</li>
                        <li class="list-group-item">PMySQL</li>
                        <li class="list-group-item">SQL Server</li>
                        <li class="list-group-item">Access</li>
                        <li class="list-group-item" (click)="openPostgreSql()" style="background-color: #e7ffe7;">PostgreSQL</li>
                        <li class="list-group-item">Sybase</li>
                        <li class="list-group-item">Informix</li>
                    </ul>
                </div>
    </div> -->
    <!-- <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item active">Program Data Source&Others</li>
                    <li class="list-group-item">Java API</li>
                    <li class="list-group-item">Hibernate</li>
                    <li class="list-group-item">Webservice Data Source</li>
                    <li class="list-group-item">SOA Data Source</li>
                    <li class="list-group-item">Analytics Data Source</li>
                    <li class="list-group-item">ODBC Data Source</li>
                    <li class="list-group-item">JNDI Data Source</li>
                    <li class="list-group-item">SAp Data Source</li>
                </ul>
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-3" style="padding: 0px;" id="lists" #lists>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item active">NoSQL Database</li>
                    <li class="list-group-item">MongoDB</li>
                    <li class="list-group-item">SQLite</li>
                    <li class="list-group-item">Cassandra</li>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item active">Multi-dimensional Database</li>
                    <li class="list-group-item">SAP HANA</li>
                    <li class="list-group-item">SAP BW</li>
                    <li class="list-group-item">SSAS</li>
                    <li class="list-group-item">EssBase</li>
                </ul>
        </div>
    </div> -->
       
    </div>
  </div>


}
  <!-- screen3 -->
  @if(openPostgreSqlForm){
    <div class="row main-container" >
      <div class="row">
          <div class="col-md-12 col-xl-6 p-1 mb-0">
             <div class="card">
               <div class="card-header">
                 <div class="card-body d-flex align-items-center justify-content-center">
                    <img src="./assets/images/Db_server_images/Relational Database/postgresql.png" alt="Image" class="w-200"/>
                 </div>
               </div>
               <div class="card-body post-bg">
                  <div class="post-txt">
                    <span class="light-gry-txt">PostgreSQL is a powerful, open source ojbect-relational database system that uses and extends the SQL language. 
                      PostgreSQL supports both relational (SQL) and non-relational (JSON) queries. PostSQL is free and open-source.
                    </span>
                    <h6 class="mb-0 dark-gry">Server:<span class="light-gry-txt"> Place your host url or host name</span></h6>
                    <h6 class="mb-0 dark-gry">port:<span class="light-gry-txt"> Example port number for postgresql is 5432</span></h6>
                    <h6 class="mb-0 dark-gry">Database:<span class="light-gry-txt"> Please give your database name in this field</span></h6>
                    <h6 class="mb-0 dark-gry">Username:<span class="light-gry-txt"> Enter your username in this field</span></h6>
                    <h6 class="mb-0 dark-gry">Pasword:<span class="light-gry-txt"> Please give your password in this field</span></h6>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-md-12 col-xl-6 p-1 mb-0">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Connect To PostgreSQL</h4>
                  </div>
                  <div class="card-body">
                      <form>
                              <div class="form-group">
                                  <label for="recipient-name" class="col-form-label">SERVER<span class="text-danger ms-1" >*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}" placeholder="Host Name/Host Url">
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">PORT<span class="text-danger ms-1" >*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}" placeholder="e.g. 5432">
                              </div>
                              <div class="form-group">
                                  <label class="col-form-label">DATABASE<span class="text-danger ms-1" >*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}" placeholder="e.g. PostgreSQL">
                              </div>
                              <div class="form-group">
                                  <label class="col-form-label">USER NAME <span class="text-danger ms-1" >*</span></label>
                                  <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
                              </div>
                              <div class="mb-2">
                                <label class="col-form-label">DISPLAY NAME <span class="text-danger ms-1" >*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" autocomplete="new-myname" placeholder="e.g. InsignApps">
                              </div>
                              <div class="form-group">
                                  <label class="col-form-label">PASSWORD <span class="text-danger ms-1" >*</span></label>
                                  <input type="password" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}" autocomplete="new-mypswd" [type]="showPassword1 ? 'text' : 'password'" placeholder="e.g. ******">
                                  <button class="btn btn-light" style="float: right;margin-top: -35px;" (click)="toggleVisibility1()" type="button" id="button-addon21"><i class="ri-eye-{{toggleClass1}} align-middle"></i></button>                   
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                              <button type="button" class="btn btn-primary" (click)="postgreSignIn()">Sign In</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
    }


    <!-- screen4Tables -->


    @if(viewNewDbs){
      <div class="main-container container-fluid">
        <div class="row" class="card" style="padding: 20px;">
        <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
            <div class="card-header" >
                <h4 class="card-title">Connect to Database</h4>
                <div>
                    <div class="input-group" style="position: absolute;top: 0;right: 215px;width: 30%!important;">
                        <input type="text" class="form-control border-end-0" placeholder="Search Database Server" aria-describedby="button-addon2">
                        <button class="btn border" type="button" id="button-addon2"><i class="bi bi-search text-muted"></i></button>
                        
                    </div>
                    <button type="button" class="btn btn-primary" (click)="viewNewDbs=false;databaseconnectionsList=true;" style="position: absolute;top: 0;right: 0;">
                        <i class="fa fa-eye"></i> View Connected Database</button>
                </div>
            </div>
            <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;">Relational Database</h6>
            <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                <div class="image-card-container">
                  <!-- <div class="database-logo">
                    <div class="imgcard op-4 p-4">
                        <img src="./assets/images/Db_server_images/Relational Database/IBM-Informix.png" alt="Image" class="card-img">
                    </div>
                    <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                        <span style=" width: 8rem;">dsdsfdsfadsfdfdffffffffffff</span>
                    </div>
                </div> -->
                <div class="database-logo">
                <div class="imgcard op-4">
                    <img src="./assets/images/Db_server_images/Relational Database/ibmdb2.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">IBM DB2</span>
              </div>
              </div>
              <!-- <div class="database-logo">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Relational Database/IBM-Informix.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">dsdsfdsfadsfdfdffffffffffff</span>
              </div>
              </div> -->
              <div class="database-logo">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Relational Database/mysql.png" alt="Image" class="card-img"/>                   
                  </div>
                  <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                    <span style=" width: 8rem;">MySQL</span>
                </div>
              </div>
              <div class="database-logo">
                <div class="imgcard p-4" (click)="Openmdo(oracle)">
                    <img src="./assets/images/Db_server_images/Relational Database/Oracle_logo.png"  alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">ORACLE</span>
              </div>
              </div>
              <div class="database-logo">
                <div class="imgcard p-4" (click)="openPostgreSql()">
                    <img src="./assets/images/Db_server_images/Relational Database/postgresql.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">PostgreSQL</span>
              </div>
              </div>
              <div class="database-logo">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Relational Database/sql server.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">Microsoft SQL SERVER</span>
              </div>
              </div>
              <div class="database-logo">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Relational Database/microsoft-access.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">Microsoft Access</span>
              </div>
              </div>
              <div class="database-logo">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Relational Database/SyBase-logo.png" alt="Image" class="card-img"/>
                </div>
                <div class="logo-txt mt-2 text-center fw-600" style=" width: 6rem;">
                  <span style=" width: 8rem;">SYBASE</span>
              </div>
              </div>
            </div>
            </div>
            <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >Big Data Platform</h6>
            <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                <div class="image-card-container">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Big Data Platform/Apache_Kylin_logo.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Big Data Platform/greenplum_logo_icon_171038.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Big Data Platform/Hadoop.png" alt="Image" class="card-img"/>
                </div>
           
            </div>
            </div>
            <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >No Sql Database</h6>
            <div class="card-body" style="border-block-end: 1px solid rgb(237 235 235);">
                <div class="image-card-container">
                    <div class="imgcard op-4 p-4">
                        <img src="./assets/images/Db_server_images/No Sql Database/cassandra-logo.png" alt="Image" class="card-img"/>
                    </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/No Sql Database/sqlite.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/No Sql Database/MongoDB_Logo.png" alt="Image" class="card-img"/>
                </div>
               
            </div>
            </div>
            <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >Multi dimensional  Database</h6>
            <div class="card-body" style="border-block-end:1px solid rgb(237 235 235);">
                <div class="image-card-container">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Multi dimensional  Database/sap-bw.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/Multi dimensional  Database/SAP-HANA.png" alt="Image" class="card-img"/>
                </div>
               
            </div>
            </div>
            <h6 style="display: flex;justify-content: center;margin-block-start: 1.5rem;" >File Source</h6>
            <div class="card-body" style="border-block-end:1px solid rgb(237 235 235);">
                <div class="image-card-container">
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/File Source/csv.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/File Source/excel-logo.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/File Source/PDF_file_icon.png" alt="Image" class="card-img"/>
                </div>
                <div class="imgcard op-4 p-4">
                    <img src="./assets/images/Db_server_images/File Source/text-img.png" alt="Image" class="card-img"/>
                </div>
               
            </div>
            </div>
        </div>
        </div>
      </div>
        
    }