<div class="sheet-sdk-container">                                                                                                                                                                                                       
        <ng-container >                                                                           
           <app-insight-apex                                                                                                                                                                                 
            [SDKChartOptions]="chartOptions"   
            [chartType]="chartType"                                                                                  
            >                                                                                            
          </app-insight-apex>                                                                                             
          <app-insight-echart                                                                                                                                                                                 
            [SDKChartOptions]="chartOptions"                                                                                          
            >                                                                                              
          </app-insight-echart>  
        </ng-container>                                                                                                                                                                                                     
    </div> 