<div class="sheet-sdk-container">
  @if (loading) {
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <span>Loading...</span>
    </div>
  } @else if (error) {
    <div class="d-flex justify-content-center align-items-center h-100 w-100 text-danger">
      <span>{{ error }}</span>
    </div>
  } @else if (sdkPayload) {
    <app-sheets
      [sdkSheetId]="sheetId"
      [sdkQuerySetID]="sdkQuerySetID"
      [sdkDatabaseID]="sdkDatabaseID"
      [sdkPreloaded]="sdkPayload"
    ></app-sheets>
  }
</div>
