<app-page-header title="Shared Dashboards" moduleId="dashboard" title1="Home" activeitem="Protected"></app-page-header>

<div class="main-container container-fluid TopHeader">
  <div class="row card-padding-top">
    <div class="col-sm-12 col-lg-12 col-xl-12 p-0">
      <div class="d-flex justify-content-between px-5">
        <div class="connect-txt">
          <h4 class="card-title mt-2">Dashboards</h4>
        </div>
        <div class="new-data-btn d-flex text-align-center">
          <button *ngIf="gridView" type="button" ngbTooltip="Grid View" class="btn btn-icon btn-outline-primary me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="gridView" type="button" ngbTooltip="Table View" (click)="gridView=false" class="btn btn-icon btn-primary-light me-3"><i class="fa fa-th-list"></i></button>
          <button *ngIf="!gridView" type="button" ngbTooltip="Grid View" (click)="gridView=true" class="btn btn-icon btn-primary-light me-1"><i class="fa fa-th-large"></i></button>
          <button *ngIf="!gridView" type="button" ngbTooltip="Table View" class="btn btn-icon btn-outline-primary me-3"><i class="fa fa-th-list"></i></button>
        </div>
      </div>

      <div *ngIf="dashboards.length === 0" class="mt-4 px-5">
        No Dashboards to display!
      </div>

      <div class="card-body" *ngIf="dashboards.length">
        <ng-container *ngIf="!gridView; else gridTemplate">
          <div class="table-responsive table-responsive-height">
            <table class="table border text-nowrap text-md-nowrap mb-0">
              <thead class="table-primary bg-primary table-primary-position">
                <tr>
                  <th>Name</th>
                  <th>Created By</th>
                  <th>Created</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dashboard of dashboards">
                  <td>
                    <a class="cursor-pointer" (click)="openDashboard(dashboard.dashboard_id)">{{ dashboard.dashboard_name }}</a>
                    <div [innerHTML]="dashboard.dashboard_tag_name"></div>
                  </td>
                  <td>{{ dashboard.created_by }}</td>
                  <td>{{ dashboard.created }}</td>
                  <td>
                    <button class="btn btn-sm btn-primary" (click)="openDashboard(dashboard.dashboard_id)">View Dashboard</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #gridTemplate>
          <div class="row">
            <div *ngFor="let dashboard of dashboards" class="col-md-12 col-xl-3">
              <div class="card card-box-shadow">
                <div class="user-image card-box-shadow">
                  <img [src]="dashboard.dashboard_image ? dashboard.dashboard_image : '/assets/images/Db_server_images/smartdashboard.jpg'" (click)="openDashboard(dashboard.dashboard_id)" alt="" class="card-img-top img-cursor dashboard-user-img-h">
                </div>
                <div class="card-body p-1 mt-1 text-center">
                  <a class="card-title fw-bold d-block" (click)="openDashboard(dashboard.dashboard_id)">{{ dashboard.dashboard_name }}</a>
                  <div [innerHTML]="dashboard.dashboard_tag_name"></div>
                </div>
                <div class="p-1 text-center">
                  <div><span class="fw-semibold fs-14">Created by:</span> {{ dashboard.created_by }}</div>
                  <div><span class="fw-semibold fs-14">Created on:</span> {{ dashboard.created }}</div>
                  <div class="mt-1">
                    <button class="btn btn-sm btn-primary" (click)="openDashboard(dashboard.dashboard_id)">Open Dashboard</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
