.modal-large{
    width: 1200px !important;
      position: relative;
      right: 310px;
      border-radius: 30px;
  }
  
  label.form-label {
    margin: 0px;
  }
  .form-check-input{
    border-radius: 0.25em;
    border: 1px solid #008482;
  }
  .card-box-shadow{
    box-shadow: 5px 10px 10px 5px #0000001a;
  }
  .dropdown-toggle::after{
    display: none;
  }
  a {
    cursor: pointer;
}

.tiled-header-bg {
  display: flex;
  justify-content: space-between;
  background: #2392c1;
  color: #fff;
}
.fe-more-vertical:before {
  content: "\e99a";
  color: #fff;
}
.select-roles-height{
  max-height: 150px;
  overflow-y: scroll;
}