<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->

<app-page-header title="Configure" title1="Home" activeitem="Configure"></app-page-header>

<div class="main-container container-fluid TopHeader">
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-5 px-1">
               <div class="card">
                    <div class="card-body profile-card">
                         <!-- <div class="nav-container p-0">
                            <div class="nav-item btn-primary"><i class="fe fe-settings me-1"></i> Configure</div>
                            <div class="nav-item btn-primary-light"><i class="fe fe-User me-1"></i> List users</div>
                            <div class="nav-item btn-primary-light"><i class="fe fe-settings me-1"></i> List Roles</div>
                            <div class="nav-item btn-primary-light"><i class="fe fe-code me-1"></i> Embed SDK</div>
                            <div class="nav-item btn-primary-light"><i class="fe fe-mail me-1"></i> Email Configuration</div>
                        </div> -->

                         <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-pills flex-column">
              <li [ngbNavItem]="'configure'" className="nav-link text-start" id="general-tab">
                <a ngbNavLink><i class="fe fe-settings me-1"></i>OpenAI Key Configuration</a>
                <ng-template ngbNavContent id="configure">
                <div class="card profile-card">
                    <div class="card-body">
                        <h5 class="mt-2 mb-4"> Configure</h5>
                        <form (ngSubmit)="submitApiKey()">
                            <div class="form-group">
                                <div style="position: relative; display: inline-block; width: 50%;">
                                    <label for="apiKey">OpenAI API KEY</label>
                                    <input 
                                        [type]="showPassword ? 'text' : 'password'"
                                        style="width: 100%; padding: 10px; padding-right: 40px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 4px; font-size: 16px;" 
                                        id="apiKey" 
                                        [(ngModel)]="apiKey" 
                                        name="apiKey" 
                                        required
                                        (keydown)="preventSpaces($event)">
                                    
                                    <!-- Eye icon for toggling visibility -->
                                    <i 
                                        class="eye-icon" 
                                        [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" 
                                        (click)="togglePasswordVisibility()" 
                                        style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
                                        >
                                    </i>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!apiKey.trim()">Verify</button>
                        </form>
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>
                        <br><br>

                        <div class="link-container">
                            <span>
                                <p>Don't have an API key?
                                    <a href="https://platform.openai.com/signup" target="_blank">Buy a new API Key</a>
                                </p>
                            </span>
                        </div>
                        
                        <p>
                            <b>Note:</b>
                            <br>
                            We use the GPT API Key to enable the Copilot feature, which assists you in building sheets and charts after
                            connecting to your data source. This integration helps streamline your workflow by providing intelligent suggestions
                            and automating tasks based on your data.
                        </p>
                        <br>
                        <p>While the GPT API Key powers our Copilot feature, providing valuable assistance in building
                            sheets and charts after connecting to your data source, please be aware that suggestions or
                            automated data builds may occasionally fail. This can occur due to various factors, such as the
                            complexity of your data or temporary API limitations. We recommend verifying all suggestions and
                            manually adjusting where needed to ensure the accuracy and relevance of your outputs.</p>
                    </div>

                    
                </div>
            </ng-template>
              </li>
              <li [ngbNavItem]="'email'" id="Side_tab_UI">
                <a ngbNavLink (click)="getDashbaordList()"><i class="fe fe-mail me-1"></i> Email Configuration</a>
                 <ng-template ngbNavContent id="email">
                <div class="card profile-card">
                <div class="card-body">
                        <div class="mb-4" *ngIf="selectableDashbaord">
                    <label for="dashboardSelect" class="form-label">Select a Dashboard</label>
                    <!-- <select
                        id="dashboardSelect"
                        class="form-select"
                        [(ngModel)]="selectedDashboard"
                        (change)="onDashboardSelect($event.target)">
                        <option value="" disabled selected>Select Dashboard</option>
                        <option *ngFor="let dash of dashboards" [value]="dash">{{ dash }}</option>
                    </select> -->
                    <!-- <ng-select class="form-control p-0" name="choices-multiple-remove-button" id="choices-multiple-remove-button" (change)="onDashboardSelect($event)"  [closeOnSelect]="false" [(ngModel)]="dashboardName" [multiple]="false" placeholder="Select Dashbaord">
                   <ng-option *ngFor="let dash of dashboards"  selected>{{dash.dashboard_name}}</ng-option>
                    </ng-select> -->
                    <ng-select 
                    class="form-control p-0"
                    [items]="dashboards"
                    bindLabel="dashboard_name"
                    [(ngModel)]="selectedDashboard"
                    (change)="onDashboardSelect($event)"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [clearable]="false"
                    placeholder="Select Dashboard">
                    </ng-select>
                    </div>
                        <div class="row">
                            <h3 class="mt-2 mb-4"> Email Notification Settings </h3>
                            <h6 class="text-muted mb-4" *ngIf="dashboardName">
                            for Dashboard: <strong> {{dashboardName}} </strong>
                            </h6>
                            <div class="col-xl-10">
                                <div class="email-text mt-2">
                                    <h6>Update Dashboard Alerts</h6>
                                    <p>Get emails when the dashboard is updated</p>
                                </div>
                            </div>
                           <div class="col-xl-2">
                            <div 
                                class="toggle toggle-primary"
                                [ngClass]="{ 'on': emailToggles.update,'disabled-toggle': !(selectedDashboard || activateEmailTab) }"
                                (click)="emailToggles.update = !emailToggles.update;checkSaveorUpdate()">
                                <span></span>
                            </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-xl-10">
                                <div class="email-text mt-2">
                                    <h6>Refresh Dashboard Alerts</h6>
                                    <p>Get emails when the dashboard is refreshed manually</p>
                                </div>
                            </div>
                            <div class="col-xl-2">
                            <div 
                                class="toggle toggle-primary"
                                [ngClass]="{ 'on': emailToggles.sync,'disabled-toggle': !(selectedDashboard || activateEmailTab)  }"
                                (click)="emailToggles.sync = !emailToggles.sync;checkSaveorUpdate()">
                                <span></span>
                            </div>
                            </div>

                        </div>
                          <div class="row">
                            <div class="col-xl-10">
                                <div class="email-text mt-2">
                                    <h6>Auto-sync Dashboard Alerts</h6>
                                    <p>Get emails when the dashboard is refreshed  by auto-refresh</p>
                                </div>
                            </div>
                            <div class="col-xl-2">
                            <div 
                                class="toggle toggle-primary"
                                [ngClass]="{ 'on': emailToggles.autosync,'disabled-toggle': !(selectedDashboard || activateEmailTab) }"
                                (click)="emailToggles.autosync = !emailToggles.autosync;checkSaveorUpdate()">
                                <span></span>
                            </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </ng-template>
              </li>
            </ul>
                    </div>
               </div>
            </div>

              <div class="col-xxl-9 col-xl-8 col-lg-7 col-md-7 px-1">
      <div [ngbNavOutlet]="nav">                  </div>
      


            
           
            </div>
        </div>
</div>
