<div class="main-container container-fluid">
    <div class="main-demo main-demo-1 overflow-hidden reveal landing-top-header active" id="home" #home >
        <div class="container px-sm-0">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-6 text-center my-auto animation-zidex pos-relative landing-main-heading">
                <h1 class="text- fw-bold tx-fixed-white mt-5">A quick and easy way to build your Business with <span class="text-primary">"Insightapps"</span></h1>
            </div>
        </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="col-xl-12 col-md-12  p-0 mb-2 border-bottom">
            <div class=" p-3 mb-2">
                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h6 class="fw-bold mt-2">Recently Viewed</h6>
                         <div class="col-xl-3 p-0">
                                    <div class=" mb-2">
                                        <div class="card-body p-1 w-300">
                                            <div class="d-flex">
                                                <div class="input-group me-2 ">
                                                    <input type="text" class="form-control border-end-0" placeholder="Search ...">
                                                    <button type="button" aria-label="button" class="btn input-group-text btn-primary tx-fixed-white border-start-0">
                                                        <i class="fe fe-search" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-1.jpg" alt=""></a>
                       </div>
                   </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                       </div>
                   </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-3.jpg" alt=""></a>
                       </div>
                   </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                       </div>
                   </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-1.jpg" alt=""></a>
                       </div>
                   </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                       </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12 p-0 mb-2 border-bottom">
            <div class=" p-3 mb-2">
                <div class="row">
                    <h6 class="fw-bold mb-3">Saved Dashboard</h6>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-5.jpg" alt=""></a>
                       </div>
                   </div>
                   <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                       <div class="position-relative img-shadow">
                           <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-6.jpg" alt=""></a>
                       </div>
                      </div>
                      <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                           <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-7.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-8.jpg" alt=""></a>
                        </div>
                       </div>
                       <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-3.jpg" alt=""></a>
                       </div>
                      </div>
                      <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                       </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12 p-0">
            <div class=" p-3">
                <div class="row">
                    <h6 class="fw-bold mb-3">Sample Dashboard</h6>
                    <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                       </div>
                   </div>
                   <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                       <div class="position-relative img-shadow">
                           <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                       </div>
                      </div>
                      <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                           <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-1.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                        </div>
                       </div>
                       <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-3.jpg" alt=""></a>
                       </div>
                      </div>
                      <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <!-- ROW-1 OPEN-->

    <div class="row mt-5">
        <div class="col-xl-9">
            <div class="row">
                <h6 class="fw-bold mb-3">Recently Viewed</h6>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-8.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-7.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-5.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h6 class="fw-bold mb-3">Saved Dashboard</h6>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-1.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h6 class="fw-bold mb-3">Sample Dashboard</h6>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-7.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-3">
                    <div class="card">
                        <div class="position-relative img-shadow">
                            <a routerLink="/pages/extension/blog-details"><img src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-3">
            <h6 class="fw-bold mb-3">Search</h6>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="input-group me-2">
                            <input type="text" class="form-control border-end-0" placeholder="Search ...">
                            <button type="button"  aria-label="button" class="btn input-group-text btn-primary tx-fixed-white border-start-0 ">
                                <i class="fe fe-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Recents</div>
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="d-flex overflow-visible align-items-center mt-0">
                            <a aria-label="anchor" routerLink="/pages/extension/blog-details">
                                <img  src="./assets/images/Landingpage-images/recently-view/recent-4.jpg" class="avatar avatar-xxl br-5 me-3 h-60 w-70p img-shadow">
                            </a>
                            <div class="ps-4 flex-column">
                                <h6 class="mb-0"><a routerLink="/pages/extension/blog-details">Saved queries</a></h6>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible align-items-center mt-3">
                            <a aria-label="anchor" routerLink="/pages/extension/blog-details">
                                <img  src="./assets/images/Landingpage-images/recently-view/recent-3.jpg" class="avatar avatar-xxl br-5 me-3 h-60 w-70p img-shadow">
                            </a>
                            <div class="ps-4 flex-column">
                                <h6 class="mb-0"><a routerLink="/pages/extension/blog-details">Charts</a></h6>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible align-items-center mt-3">
                            <a aria-label="anchor" routerLink="/pages/extension/blog-details">
                                <img  src="./assets/images/Landingpage-images/recently-view/recent-2.jpg" class="avatar avatar-xxl br-5 me-3 h-60 w-70p img-shadow">
                            </a>
                            <div class="ps-4 flex-column">
                                <h6 class="mb-0"><a routerLink="/pages/extension/blog-details">Recent charts</a></h6>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible align-items-center mt-3">
                            <a aria-label="anchor" routerLink="/pages/extension/blog-details">
                                <img  src="./assets/images/Landingpage-images/recently-view/recent-1.jpg" class="avatar avatar-xxl br-5 me-3 h-60 w-70p img-shadow">
                            </a>
                            <div class="ps-4 flex-column">
                                <h6 class="mb-0"><a routerLink="/pages/extension/blog-details">Dashboard</a></h6>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW-1 CLOSED-->
</div>