.notification-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
  display: flex;
  flex-direction: column-reverse; /* new notifications appear on top */
  gap: 10px;
}

.toast {
  display: flex;
  align-items: center;
  min-width: 280px;
  max-width: 350px;
//   background: #323232;
//   color: #fff;
  padding: 16px 20px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  animation: slide-up 0.4s ease, fade-out 0.3s ease 4.5s forwards;
  position: relative;
  overflow: hidden;
}

.toast .icon {
  margin-right: 12px;
  font-size: 20px;
}

.toast .content strong {
  display: block;
  font-size: 15px;
  margin-bottom: 4px;
}

.toast .content p {
  font-size: 13px;
  opacity: 0.85;
  margin: 0;
}

.toast button {
  background: transparent;
  border: none;
  color: var(--default-text-color);
  font-size: 18px;
  margin-left: auto;
  cursor: pointer;
}

@keyframes slide-up {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

// @keyframes fade-out {
//   to { opacity: 0; transform: translateY(-20px); }
// }
