<div class="log-container">
    <ng-container *ngFor="let entry of logs">
      
      <!-- Group Start -->
      <div *ngIf="isGroupStart(entry)" class="log-group-start">
        ▶ [GROUP] {{ entry.event.replace('::group::', '').trim() }}
        <div *ngFor="let src of entry.sources" class="log-source">
          ↳ Source: {{ src }}
        </div>
      </div>
  
      <!-- Group End -->
      <div *ngIf="isGroupEnd(entry)" class="log-group-end">
        ◀ [END GROUP]
      </div>
  
      <!-- Standard Logs -->
      <div *ngIf="isStandardLog(entry)" class="log-line">
        {{ formatTimestamp(entry.timestamp) }}
        [{{ formatLevel(entry.level) }}]
        <span *ngIf="entry.logger">{{ entry.logger }} -</span>
        {{ entry.event }}
        
        <!-- Show additional metadata -->
        <div class="log-meta" *ngIf="entry.ti || entry.chan || entry.error_detail">
          <div *ngIf="entry.chan">Channel: {{ entry.chan }}</div>
          <div *ngIf="entry.error_detail">
            <div *ngFor="let err of entry.error_detail">
              Error Type: {{ err.exc_type }} <br>
              Error Value: {{ err.exc_value }}
            </div>
          </div>
          <div *ngIf="entry.ti">
            <details>
              <summary>Task Instance Info</summary>
              <pre>{{ stringify(entry.ti) }}</pre>
            </details>
          </div>
        </div>
      </div>
  
    </ng-container>
  </div>