.example-container {
    max-width: 100%;
    max-height: 611px;
    overflow-y: auto;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .Semantic-text{
    margin-bottom: 0px;
    font-size: 11px;
    text-align: center;
  }
  .Semantic-layer-card {
    width: 390px; 
  }
  ul.dropdown-menu.show {
    min-width: -webkit-fill-available;
  }
  .Semantic-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .Semantic-bg {
    background-color: #e5f6f6;
  }
  
  .example-list {
    width: 623px;
    max-width: 100%;
    border: solid 2px #eef1f8;
    min-height: 259px;
    max-height: 611px;
    // background: white;
    // border-radius: 4px;
    //overflow: hidden;
    border:none !important;
    overflow: auto;
    display: flex;

  }
  .example-list-drop{
    // border: solid 1px #ccc;
    min-height: 60px;
    max-height: 254px;
    //background: white;
    border-radius: 4px;
    // overflow: hidden;
    width: 358px;
    overflow: auto;
    display: block;
  }
  .example-box {
    padding: 20px 20px;
    // border-bottom: solid 1px #ccc;
    //color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    //background: white;
    font-size: 14px;
    // border-radius: 8px; 
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  .drop-zone {
    margin: 40px;
  }
  
  .side-card {
    position: relative;
    top: -343px;
    left: 221px;
  }
  .dropdown-menu-scrollable {
    max-height: 200px !important; /* Adjust the max-height as needed */
    overflow-y: auto !important;
  }


  .disabled {
    color: gray;
    cursor: not-allowed;
  }



  .drag-txt {
    text-align: center;
    font-weight: 100;
    color: #c1c1c1;
}
.left-sidebar{
  border-radius: 10px !important;
}
// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #c0c0c0a8 !important; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #000; 
// }

ul.dropdown-menu {
  box-shadow: none;
  background-color: transparent;
}
h6.dropdown-header {
font-weight: 700;
background-color: aliceblue;
}
.card-header {
//  background-color: #fff;
}

.sidebar {
  width: 230px;
  padding: 10px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-title {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.sub-menu {
  margin-top: 5px;
  // padding-left: 10px;
}

.sub-menu-item {
  padding: 5px 0;
  margin-bottom: 5px;
}

.arrow {
  font-size: 18px;
  font-weight: 600;
  margin-left: -18px;
  padding-left: 35px !important;
  cursor: pointer;
}
.viewQuery-hgt {
  max-height: 200px;
  overflow-y: auto;
}

// .side-card {
//   padding: 10px;
//   background-color: #f0f0f0;
//   flex: 0 0 100px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .table-joining-card {
//   overflow: hidden;
//   transition: flex-grow 0.3s ease-in-out;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .right-card {
//   flex: 1;
//   padding: 10px;
//   background-color: #e0e0e0;
//   transition: flex-grow 0.3s ease-in-out;
// }

.right-card.expanded {
  // flex: 2; /* Adjust this value to control how much the right card expands */
max-width: 1226px;
min-width: 1226px;
margin:  auto 0;
}
button.TextTransform {
  top: 181px;
  position: absolute;
  transform: translate(0%, 0%) rotate(
270deg
);
  left: -120px;
  padding: 10px 84px;
  border: none;
  border-bottom: 1px solid #9b9999;
}
.drpdwnhgt{
  height: 220px;
  overflow-y: auto;
  background-color: #ffffff !important;
}
.table-left{
  margin-left: 48px
}
.table-right{
  margin-left: 0px!important;
}
.subMenuFlex{
  display: flex;
  justify-content: flex-start;
}
.databse-T-H{
  height: 268px;
}
.ds-th {
  height: 540px;
  overflow-y: auto;
}
a {
  cursor: pointer;
}
// .cdk-drag.sub-menu-item.example-box.subMenuFlex:hover {
//   background-color: #f0f8ff;
// }
.table-card-header{
  background-color: #f2fafa;
}
.table > :not(:last-child) > :last-child > * {
  border-block-end-color: var(--default-border);
  color: #fff;
}
.chevron-right-icon {
  cursor: pointer;
}
.chevron-left-icon {
  cursor: pointer;
}
span.time {
  background-color: var(--primary-color);
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 5px;
}
.swal2-container {
  display: -webkit-box;
  display: flex;
  position: fixed;
  z-index: 3000000 !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #fff !important; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #c0c0c0a8 !important; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #000; 
  }
  .custom-table tr {
    height: 40px; /* Adjust the height as per your requirement */
  }
  
  .custom-table td {
    padding: 4px 8px 1px 12px; /* Adjust the padding as per your requirement */
  }
  .query-text {
    width: 100%;
    height: 122px;
    min-height: 122px;
    max-height: 122px;
    overflow-y: auto;
outline: none;
    border: 1px solid #edebeb;
    border-radius: 5px;
}
.result-icon {
  display: flex;
  align-items: center;
  padding: 6px;
  border: 1px solid #e3e6ef;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.avatar-sm {
  width: 1.9rem !important;
  height: 1.9rem !important;
}
.ta{
  font-size: 0.95rem !important;
}
.tag-addon{
  min-width: 2rem !important;
}
.text-truncate{
  max-width: 80px;
}


// for 90% Resolution //
@media ( 1420px <= width <= 1560px) {
  h6 {
    font-size: 14px;
  }
  th.ng-tns-c1221481046-0.ng-star-inserted {
    font-size: 12px;
  }
  td.ng-tns-c1221481046-0.ng-star-inserted {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
  button.btn {
    font-size: 11px !important;
  }
  .example-box.p-2.border.border-dark-subtle {
    font-size: 12px;
  }
  .table td {
    font-size: 12px;
  }


}
 // for 100% Resolution //
 @media ( 1280px <= width <= 1420px) {
  h6 {
    font-size: 12px;
  }
  span {
    font-size: 11px;
  }
  th.ng-tns-c1221481046-0.ng-star-inserted {
    font-size: 11px;
  }
  td.ng-tns-c1221481046-0.ng-star-inserted {
    font-size: 11px;
  }
  button.btn {
    font-size: 10px !important;
  }
  .example-box.p-2.border.border-dark-subtle {
    font-size: 11px;
  }
  .table td {
    font-size: 12px;
  }
 
 }