<div *ngIf="dashboardView">
<app-page-header title="Dashboard" title1="home" activeitem="Dashboard"></app-page-header>
</div>
<div *ngIf="sheetsNewDashboard">
  <app-page-header title="Dashboard" title1="home" [multiLevel]="true" title2="sheets" title2Route="/workbench/sheets" activeitem="Dashboard"></app-page-header>
  </div>
<div class="row main-container" >
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1 mt-0" id="sticky-sidebar">
      <div class="sticky-top">
        <div class="card mb-0">
          <div class="card-body p-0">
            <div class="panel panel-primary ">
              <div class="card panel panel-primary p-0">
                <div class="tab-menu-heading tab-menu-heading-boxed">
                    <div class="tabs-menu-boxed">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav panel-tabs fs-14" >

                            <li [ngbNavItem]="1">
                                <a ngbNavLink class="p-3">Dashboard</a>
                                <ng-template ngbNavContent>
                                    <div class="tab-pane active" id="activetabs">
                                      <div class="panel-body tabs-menu-body p-0">
                                        <div class="tab-content">
                                            <div class="card mb-0 p-4 br-0" style="box-shadow: none;">
                                                <h6 class="mb-0">Database</h6>
                                                <p class="mb-0">{{databaseName}}</p>
                                            </div>
                                            <div class=" mb-0  mt-0 br-0 overflow-scroll h-400" >
                                                <div class="text-wrap">
                                                    <div class="dropdown-samples">
                                                        <ul class="dropdown-menu br-0 draggable-item"
                                                         cdkDropList
                                                         #originList="cdkDropList"
                                                        [cdkDropListData]="dashboardNew"
                                                        [cdkDropListConnectedTo]="[destinationList]"
                                                        (cdkDropListDropped)="drop($event)">
                                                            <li><h6 class="dropdown-header sheets-title px-4">Sheets</h6></li>
                                                            <li *ngFor="let item of dashboardNew"><a class="dropdown-item"  cdkDrag><i data-bs-toggle="tooltip"  ngbTooltip="{{item.data.title}}" (click)="viewSheet(item['sheetId'],item.data?.title)" class="fa fa-plus-square-o"></i> {{item.data.title | slice:0:15}}</a></li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                 <a ngbNavLink class="p-3">Filters</a>
                                    <ng-template ngbNavContent>
                                        <div class="tab-pane" id="linktabs">
                                            <div class="card-body p-0">
                                              <div class="text-wrap">
                                                  <div class="card-content p-0">
                                                      <div class=" mt-2 mb-2">
                                                          <div class="dropdown" ngbDropdown [autoClose]="'outside'" #mainDropdown="ngbDropdown">
                                                              <button class="btn btn-primary dropdown-toggle" (click)="getColumnsForFilter()" id="applyfilters" ngbDropdownToggle type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
                                                                <i class="fa fa-plus"></i> Add/Edit Filters
                                                              </button>
                                                              <ul class="dropdown-menu filter-popover" aria-labelledby="applyfilters" ngbDropdownMenu>
                                                                <div class="setting-text border-bottom text-center">
                                                                  <h6>Add Filters</h6>
                                                                </div>
                                                                <div class="form-group p-1 mb-0">
                                                                  <label class="form-label">Filter Name <span  class="text-red">*</span>
                                                                  </label>
                                                                  <input type="text" placeholder="" [(ngModel)]="filterName" class="form-control checkbox-color">
                                                                </div>
                                                                <div class="form-group p-1">
                                                      
                                                                  <div ngbDropdown class="btn-group my-2 dropdown" #nestedDropdown="ngbDropdown" [autoClose]="'outside'">
                                                                    <button type="button" ngbDropdownToggle id="dropdownColumns" data-bs-toggle="dropdown" aria-expanded="false" style="width: 237px;" class="dropdown-toggle btn btn-info-light">{{selectClmn ? selectClmn:'Select Column'}}</button>
                                                                    <ul ngbDropdownMenu aria-labelledby="dropdownColumns" class="dropdown-menu" style="background-color: #ffffff;width: 237px;max-height: 240px;overflow-y: scroll;">
                                                                      @for(colData of columnFilterNames;track colData){
                                                                        <li><a class="dropdown-item" ngbDropdownItem (click)="selectClmn = colData.column_name;closeColumnsDropdown(colData.column_name,colData.column_dtype,nestedDropdown)">{{colData.column_name}}</a></li>
                                                                      }
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                                  <h6>Apply to Selected worksheets</h6>
                                                               
                                                                <div class="form body border p-2">
                                                                  <!-- <div class="form-check">
                                                                    <input type="checkbox" value="" id="invalidCheck" required="" class="form-check-input checkbox-color">
                                                                    <label for="invalidCheck" class="form-check-label"> <h6>Select All</h6> </label>
                                                                  </div> -->
                                                                  <div class="form-check">

                                                                    <input type="checkbox" id="selectAll" [(ngModel)]="isAllSelected" (change)="toggleAllRows($event)" class="form-check-input">
                                                                    <label for="selectAll" class="form-check-label">Select All</label>
                                                                    </div>
                                                                  @for(rows of sheetsFilterNames;track rows;let i = $index){
                                                                   

                                                                  <div class="form-check">
                                                                    <input type="checkbox" [id]="'defaultCheck' + i"  name="rows{{i}}"[(ngModel)]="rows.selected" (change)="updateSelectedRows()" class="form-check-input"> 
                                                                    <label for="invalidCheck" class="form-check-label"> <h6>{{rows.label.name}}</h6> </label>
                                                                  </div>
                                                                }
                                                                </div>
                
                                                                <div class="p-2">
                                                                  <button type="button" [disabled]="!isAnyRowSelected()"  (click)="getSelectedData()" class="btn ripple btn-primary me-2">Save</button>
                                                                  <button type="button" class="btn ripple btn-secondary " (click)="selectClmn = '';filterName='';closeMainDropdown(mainDropdown)"> Cancel </button>
                                                              </div>
                                                              </ul>
                                                              <div style="height: 500px;overflow-y: scroll;">
                                                                @for(filterList of DahboardListFilters;track filterList){
                                                              <div class="sub-category-card p-2 mt-2 border bg-light rounded-3">
                                                                <p class="text-center mb-0">{{filterList.filter_name}}</p>
                                          
                                                                <div ngbDropdown class="btn-group my-2 dropdown" #nestedDropdown1="ngbDropdown" [autoClose]="'outside'">
                                                                  <button type="button" ngbDropdownToggle id="dropdownColumns1" (click)="getColDataFromFilterId(filterList.dashboard_filter_id,filterList)" data-bs-toggle="dropdown" aria-expanded="false" style="width: 237px;" class="dropdown-toggle btn btn-info-light">Select Column</button>
                                                                  <ul ngbDropdownMenu aria-labelledby="dropdownColumns1" class="dropdown-menu" style="background-color: #ffffff;width: 237px;max-height: 240px;overflow-y: scroll;">
                                                                    <div class="form-check">

                                                                      <input type="checkbox" id="selectAll" [(ngModel)]="isAllSelected" (change)="toggleAllColumns($event,filterList)" class="form-check-input">
                                                                      <label for="selectAll" class="form-check-label">Select All</label>
                                                                      </div>
                                                                    @for(col of filterList.colData;track col;let i = $index){
                                                                     
                                                                      <div class="form-check">
                                                                        <input type="checkbox" [id]="'defaultCheck' + i"  name="col{{i}}"[(ngModel)]="col.selected" (change)="updateSelectedColmns(filterList,col)" class="form-check-input"> 
                                                                        <label for="invalidCheck" class="form-check-label"> <h6>{{col.label}}</h6> </label>
                                                                      </div>
                                                                  }
                                                                  <div class="p-2">
                                                                    <button type="button"  (click)="closeMainDropdown(nestedDropdown1)" class="btn ripple btn-primary me-2">OK</button>
                                                                </div>
                                                                  </ul>
                                                              </div>
                                                                <!-- <div class="dropdown">
                                                                  <button class="btn btn-secondary dropdown-toggle" type="button" (click)="getColDataFromFilterId(filterList.dashboard_filter_id,filterList)" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Select 
                                                                  </button>
                                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    @for(col of filterList.colData;track col;let i = $index){
                                                                      <div class="form-check">
                                                                        <input type="checkbox" [id]="'defaultCheck' + i"  name="col{{i}}"[(ngModel)]="col.selected"  class="form-check-input"> 
                                                                        <label for="invalidCheck" class="form-check-label"> <h6>{{col.label}}</h6> </label>
                                                                      </div>
                                                                  }
                                                                  </div>
                                                                </div> -->
                                                              </div>
                                                            }
                                                          </div>
                                                              <!-- <div class="sub-category-card p-2 mt-2 border bg-light rounded-3">
                                                                <p class="text-center mb-0">Category</p>
                                                                <div class="form-group mb-1">
                                                                    <select class="form-select form-select select2 fs-14">
                                                                        <option value="1" ng-reflect-value="1">(All)</option>
                                                                        <option value="2" ng-reflect-value="2">Two</option>
                                                                        <option value="3" ng-reflect-value="3">Three</option>
                                                                    </select>
                                                                </div>
                                                              </div>
                                                              <div class="sub-category-card p-2 mt-2 border bg-light rounded-3">
                                                                <p class="text-center mb-0">Segment 1</p>
                                                                <div class="form-group mb-1">
                                                                    <select class="form-select form-select select2 fs-14">
                                                                        <option value="1" ng-reflect-value="1">Consumer</option>
                                                                        <option value="2" ng-reflect-value="2">Two</option>
                                                                        <option value="3" ng-reflect-value="3">Three</option>
                                                                    </select>
                                                                </div>
                                                              </div> -->
                                                          </div>
                                                      </div>
                                                   
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                    </ng-template>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body tabs-menu-body p-1" style="height: 578px;">
                    <div class="tab-content">
                        <div [ngbNavOutlet]="nav"></div>

                    </div>
                </div>
            </div>
          </div>

          </div>
      </div>
      </div>
    </div>
    <div class="col-xl-10 col-md-12 p-1 ">
         <div class="card mb-1">
            <div class="card-body p-1">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <input  type="text"  placeholder="Title" [(ngModel)]="dashboardName" aria-label="Sheet" class="form-control" >
                        </div>
                        <div class="min-w-fit-content ms-3">
                            <button class="btn btn-primary mt-0" *ngIf="!updateDashbpardBoolen" (click)="saveDashboard()">Save </button>
                            <button class="btn btn-primary mt-0" *ngIf="updateDashbpardBoolen" (click)="takeScreenshot()">Update </button>
                            <!-- <button class="btn btn-primary mt-0" (click)="startMethod()">hide </button> -->

                            </div>
                    <!-- <div class="min-w-fit-content ms-3">
                            <a href=""><i class="fa fa-filter p-2"></i> </a>
                            <a href=""><i class="fa fa-edit p-2"></i> </a>
                            <a href=""><i class="fa fa-share p-2"></i></a>
                            <a href=""><i class="fa fa-list p-2"></i></a>
                    </div> -->
                </div>
            </div>
        </div> 
        
       
       <div style="max-width: 78vw;min-width: 78vw;height: 100vh;margin: auto 0;" id="capture-element">
        <gridster [options]="options" cdkDropList #destinationList="cdkDropList"
        [cdkDropListData]="dashboard" 
       (cdkDropListDropped)="drop($event)" #gridster>
            <gridster-item [item]="item" *ngFor="let item of dashboard" [ngClass]="{ 'hidden-overflow': isOverflowHidden, 'scroll-overflow': !isOverflowHidden }" >
              <div class="card mb-0">
                <div class="card-header d-flex justify-content-between p-1">
                    <h6>{{ item.data?.title }}</h6>
                    <div class="dashboard-option">
                        <div class=" p-1" ngbDropdown>
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                aria-haspopup="true" aria-expanded="false" class=""><i
                                    class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" ngbDropdownItem (click)="viewSheet(item['sheetId'],item.data?.title)"> Goto Sheet </a>
                                <a class="dropdown-item" ngbDropdownItem (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)"> Remove</a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="card-body p-1">                
                <!-- <div *ngIf="item.chartOptions">
                     <apx-chart 
                    [series]="item.chartOptions.series!" 
                    [chart]="item.chartOptions.chart!" 
                    [xaxis]="item.chartOptions.xaxis!"
                    (chartInit)="onChartInit($event, item)">
                  </apx-chart> 
                  <apx-chart
                  [series]="item.chartOptions.series!"
                  [chart]="item.chartOptions.chart!"
                  [dataLabels]="item.chartOptions.dataLabels!"
                  [plotOptions]="item.chartOptions.plotOptions!"
                  [xaxis]="item.chartOptions.xaxis!"[colors]="item.chartOptions.colors!"  [grid]="item.chartOptions.grid!"
                  (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div> -->
                  <div *ngIf="item['chartType'] === 'Table'">
                      <div *ngIf="item['chartType'] === 'Table'" class="table-responsive" >
                        <table class="table border text-nowrap text-md-nowrap mb-0">
                            <thead>
                              <tr>
                                @for(column of item.tableData?.headers;track column){
                                <th>{{ column }}</th>
                                }
                              </tr>
                            </thead>
                            <tbody>
                                 @for(row of item.tableData?.rows;track row){
                          <tr>
                            @for(column of item.tableData?.headers;track column){
                            <td>{{ row[column] }}</td>
                            }
                          </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                    <!-- <app-charts-store [chartData]="item.chartOptions"></app-charts-store> -->
                    </div>
                  <div *ngIf="item.chartOptions">
                 <div *ngIf="item['chartId'] === 6">
                    <apx-chart 
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [xaxis]="item.chartOptions.xaxis!"[colors]="item.chartOptions.colors!"  [grid]="item.chartOptions.grid!"
                   (chartInit)="onChartInit($event, item)">
                 </apx-chart> 
                  </div>
                 <!-- <app-charts-store [chartData]="item.chartOptions"></app-charts-store> -->
                 </div>
                 <div *ngIf="item.chartOptions && item['chartId'] === 17">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                    [xaxis]="item.chartOptions.xaxis!" [stroke]="item.chartOptions.stroke!"
                    [dataLabels]="item.chartOptions.dataLabels!" [yaxis]="item.chartOptions.yaxis!"
                    [labels]="item.chartOptions.labels!" [legend]="item.chartOptions.legend!"  [grid]="item.chartOptions.grid!"
                    [title]="item.chartOptions.title!" [subtitle]="item.chartOptions.subtitle!"[colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 13">
                    <apx-chart [series]="item.chartOptions.series! || []" [chart]="item.chartOptions.chart!"
                        [xaxis]="item.chartOptions.xaxis!" [dataLabels]="item.chartOptions.dataLabels!"
                        [grid]="item.chartOptions.grid!" [stroke]="item.chartOptions.stroke!"
                        [title]="item.chartOptions.title!" [colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 24">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!" [legend]="item.chartOptions.legend!"
                    [labels]="item.chartOptions.labels!" [responsive]="item.chartOptions.responsive!" [colors]="item.chartOptions.colors!" [dataLabels]="item.chartOptions.dataLabels!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 7">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                        [dataLabels]="item.chartOptions.dataLabels!" [plotOptions]="item.chartOptions.plotOptions!"
                        [yaxis]="item.chartOptions.yaxis!" [legend]="item.chartOptions.legend!" [fill]="item.chartOptions.fill!"
                        [stroke]="item.chartOptions.stroke!" [tooltip]="item.chartOptions.tooltip!" [colors]="item.chartOptions.colors!" [grid]="item.chartOptions.grid!" 
                        [xaxis]="item.chartOptions.xaxis!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 5">
                    <apx-chart
                      [series]="item.chartOptions.series!"
                      [chart]="item.chartOptions.chart!"
                      [dataLabels]="item.chartOptions.dataLabels!"
                      [plotOptions]="item.chartOptions.plotOptions!"
                      [responsive]="item.chartOptions.responsive!"
                      [xaxis]="item.chartOptions.xaxis!"
                      [legend]="item.chartOptions.legend!"
                      [fill]="item.chartOptions.fill!" (chartInit)="onChartInit($event, item)"
                    ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 4">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                        [yaxis]="item.chartOptions.yaxis!" [xaxis]="item.chartOptions.xaxis!" [labels]="item.chartOptions.labels!"
                        [stroke]="item.chartOptions.stroke!" [title]="item.chartOptions.title!"  [grid]="item.chartOptions.grid!"
                        [dataLabels]="item.chartOptions.dataLabels!" [fill]="item.chartOptions.fill!"
                        [tooltip]="item.chartOptions.tooltip!"[colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 2">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [responsive]="item.chartOptions.responsive!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [legend]="item.chartOptions.legend!"
                    [fill]="item.chartOptions.fill!"
                    (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 3">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [responsive]="item.chartOptions.responsive!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [legend]="item.chartOptions.legend!"
                    [fill]="item.chartOptions.fill!" (chartInit)="onChartInit($event, item)"
                  ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 8">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [stroke]="item.chartOptions.stroke!"
                    [tooltip]="item.chartOptions.tooltip!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [legend]="item.chartOptions.legend!"
                    [markers]="item.chartOptions.markers!"
                    [grid]="item.chartOptions.grid!"
                    [yaxis]="item.chartOptions.yaxis!"
                    [title]="item.chartOptions.title!" (chartInit)="onChartInit($event, item)"
                  ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 10">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [labels]="item.chartOptions.labels!"
                    [responsive]="item.chartOptions.responsive!"(chartInit)="onChartInit($event, item)" >
                </apx-chart>
                  </div>
                </div>
                <div class="card-footer p-1">
                    <!-- <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
                      Delete
                    </button> -->
                  </div>
              </div>
            </gridster-item>
          </gridster>
        </div>
        <div>
          <img [src]="screenshotSrc" alt="Screenshot">
        </div>
    </div>
</div>






