<app-page-header title="Dashboard" title1="home" activeitem="Dashboard"></app-page-header>

<div class="row main-container" >
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 p-1 mt-0">
        <div class="card mb-0">
            <div class="card-body p-0">
                <div class="panel panel-primary">
                    <div class="tab-menu-heading tab-menu-heading-boxed">
                        <div class="tabs-menu-boxed">
                            <ul ngbnav="" class="nav panel-tabs fs-14" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="" id="ngb-nav-0" role="tab" aria-selected="true" aria-disabled="false" class="nav-link active p-2 m-0" aria-controls="ngb-nav-0-panel">Dashboard</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="" id="ngb-nav-1" role="tab" aria-selected="false" aria-disabled="false" class="nav-link p-2" tabindex="-1">Layout</a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body tabs-menu-body p-0">
                        <div class="tab-content">
                            <div class="card mb-0 p-4 br-0" style="box-shadow: none;">
                                <h6 class="mb-0">Connections</h6>
                                <p class="mb-0">title</p>
                            </div>
                            <div class=" mb-0  mt-0 br-0 overflow-scroll h-400" >
                                <div class="text-wrap">
                                    <div class="dropdown-samples">
                                        <ul class="dropdown-menu br-0 draggable-item"
                                         cdkDropList
                                         #originList="cdkDropList"
                                        [cdkDropListData]="dashboardNew"
                                        [cdkDropListConnectedTo]="[destinationList]"
                                        (cdkDropListDropped)="drop($event)">
                                            <li><h6 class="dropdown-header sheets-title px-4">Sheets</h6></li>
                                            <li *ngFor="let item of dashboardNew"><a class="dropdown-item"  cdkDrag><i data-bs-toggle="tooltip"  ngbTooltip="{{item.data.title}}" (click)="viewSheet(item['sheetId'],item.data?.title)" class="fa fa-table"></i> {{item.data.title | slice:0:15}}</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-md-12 p-1 ">
         <div class="card mb-1">
            <div class="card-body p-1">
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1">
                        <input  type="text"  placeholder="Title" [(ngModel)]="dashboardName" aria-label="Sheet" class="form-control" >
                        </div>
                        <div class="min-w-fit-content ms-3">
                            <button class="btn btn-primary mt-0" *ngIf="!updateDashbpardBoolen" (click)="saveDashboard()">save </button>
                            <button class="btn btn-primary mt-0" *ngIf="updateDashbpardBoolen" (click)="updateDashboard()">Update </button>
                            </div>
                    <div class="min-w-fit-content ms-3">
                            <a href=""><i class="fa fa-filter p-2"></i> </a>
                            <a href=""><i class="fa fa-edit p-2"></i> </a>
                            <a href=""><i class="fa fa-share p-2"></i></a>
                            <a href=""><i class="fa fa-list p-2"></i></a>
                    </div>
                </div>
            </div>
        </div> 
        
       
       <div style="max-width: 78vw;min-width: 78vw;height: 300vh;margin: auto 0;">
        <div class="options">
          
        </div> 
        <div class="d-flex align-items-center justify-content-start  mt-3">
            <!-- <a mat-raised-button color="accent" (click)="pushItem()" class="btn btn-blue-light mb-0 me-3" > Resize first item and push others</a> -->
            <!-- <a mat-mini-fab (click)="addItem()" class="btn btn-blue-light mb-0 me-3" ><i class="fa fa-plus"></i> Add</a>  -->
        </div>
        <!-- <div class="options-header" >
          <button mat-raised-button color="accent" (click)="pushItem()" class="add-button cols-2">
            Resize first item and push others
          </button>
          <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
            add
          </button>
        </div> -->
        
        
        <gridster [options]="options" cdkDropList #destinationList="cdkDropList" 
        [cdkDropListData]="dashboard" 
       (cdkDropListDropped)="drop($event)">
            <gridster-item [item]="item" *ngFor="let item of dashboard">
              <div class="card mb-0">
                <div class="card-header d-flex justify-content-between p-1">
                    <h6>{{ item.data?.title }}</h6>
                    <div class="dashboard-option">
                        <div class=" p-1" ngbDropdown>
                            <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                aria-haspopup="true" aria-expanded="false" class=""><i
                                    class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" ngbDropdownItem (click)="viewSheet(item['sheetId'],item.data?.title)"> Edit </a>
                                <a class="dropdown-item" ngbDropdownItem (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)"> Delete</a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="card-body p-1">
    
                
                <p class="mb-1">{{ item.data?.content }}</p>
                
                <!-- <div *ngIf="item.chartOptions">
                     <apx-chart 
                    [series]="item.chartOptions.series!" 
                    [chart]="item.chartOptions.chart!" 
                    [xaxis]="item.chartOptions.xaxis!"
                    (chartInit)="onChartInit($event, item)">
                  </apx-chart> 
                  <apx-chart
                  [series]="item.chartOptions.series!"
                  [chart]="item.chartOptions.chart!"
                  [dataLabels]="item.chartOptions.dataLabels!"
                  [plotOptions]="item.chartOptions.plotOptions!"
                  [xaxis]="item.chartOptions.xaxis!"[colors]="item.chartOptions.colors!"  [grid]="item.chartOptions.grid!"
                  (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div> -->
                  <div *ngIf="item.chartOptions">
                 <div *ngIf="item['chartId'] === 6">
                    <apx-chart 
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [xaxis]="item.chartOptions.xaxis!"[colors]="item.chartOptions.colors!"  [grid]="item.chartOptions.grid!"
                   (chartInit)="onChartInit($event, item)">
                 </apx-chart> 
                  </div>
                 <!-- <app-charts-store [chartData]="item.chartOptions"></app-charts-store> -->
                 </div>
                 <div *ngIf="item.chartOptions && item['chartId'] === 17">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                    [xaxis]="item.chartOptions.xaxis!" [stroke]="item.chartOptions.stroke!"
                    [dataLabels]="item.chartOptions.dataLabels!" [yaxis]="item.chartOptions.yaxis!"
                    [labels]="item.chartOptions.labels!" [legend]="item.chartOptions.legend!"  [grid]="item.chartOptions.grid!"
                    [title]="item.chartOptions.title!" [subtitle]="item.chartOptions.subtitle!"[colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 13">
                    <apx-chart [series]="item.chartOptions.series! || []" [chart]="item.chartOptions.chart!"
                        [xaxis]="item.chartOptions.xaxis!" [dataLabels]="item.chartOptions.dataLabels!"
                        [grid]="item.chartOptions.grid!" [stroke]="item.chartOptions.stroke!"
                        [title]="item.chartOptions.title!" [colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 24">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!" [legend]="item.chartOptions.legend!"
                    [labels]="item.chartOptions.labels!" [responsive]="item.chartOptions.responsive!" [colors]="item.chartOptions.colors!" [dataLabels]="item.chartOptions.dataLabels!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 7">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                        [dataLabels]="item.chartOptions.dataLabels!" [plotOptions]="item.chartOptions.plotOptions!"
                        [yaxis]="item.chartOptions.yaxis!" [legend]="item.chartOptions.legend!" [fill]="item.chartOptions.fill!"
                        [stroke]="item.chartOptions.stroke!" [tooltip]="item.chartOptions.tooltip!" [colors]="item.chartOptions.colors!" [grid]="item.chartOptions.grid!" 
                        [xaxis]="item.chartOptions.xaxis!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 5">
                    <apx-chart
                      [series]="item.chartOptions.series!"
                      [chart]="item.chartOptions.chart!"
                      [dataLabels]="item.chartOptions.dataLabels!"
                      [plotOptions]="item.chartOptions.plotOptions!"
                      [responsive]="item.chartOptions.responsive!"
                      [xaxis]="item.chartOptions.xaxis!"
                      [legend]="item.chartOptions.legend!"
                      [fill]="item.chartOptions.fill!" (chartInit)="onChartInit($event, item)"
                    ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 4">
                    <apx-chart [series]="item.chartOptions.series!" [chart]="item.chartOptions.chart!"
                        [yaxis]="item.chartOptions.yaxis!" [xaxis]="item.chartOptions.xaxis!" [labels]="item.chartOptions.labels!"
                        [stroke]="item.chartOptions.stroke!" [title]="item.chartOptions.title!"  [grid]="item.chartOptions.grid!"
                        [dataLabels]="item.chartOptions.dataLabels!" [fill]="item.chartOptions.fill!"
                        [tooltip]="item.chartOptions.tooltip!"[colors]="item.chartOptions.colors!" (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 2">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [responsive]="item.chartOptions.responsive!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [legend]="item.chartOptions.legend!"
                    [fill]="item.chartOptions.fill!"
                    (chartInit)="onChartInit($event, item)"></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 3">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [plotOptions]="item.chartOptions.plotOptions!"
                    [responsive]="item.chartOptions.responsive!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [legend]="item.chartOptions.legend!"
                    [fill]="item.chartOptions.fill!" (chartInit)="onChartInit($event, item)"
                  ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 8">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [xaxis]="item.chartOptions.xaxis!"
                    [stroke]="item.chartOptions.stroke!"
                    [tooltip]="item.chartOptions.tooltip!"
                    [dataLabels]="item.chartOptions.dataLabels!"
                    [legend]="item.chartOptions.legend!"
                    [markers]="item.chartOptions.markers!"
                    [grid]="item.chartOptions.grid!"
                    [yaxis]="item.chartOptions.yaxis!"
                    [title]="item.chartOptions.title!" (chartInit)="onChartInit($event, item)"
                  ></apx-chart>
                  </div>
                  <div *ngIf="item.chartOptions && item['chartId'] === 10">
                    <apx-chart
                    [series]="item.chartOptions.series!"
                    [chart]="item.chartOptions.chart!"
                    [labels]="item.chartOptions.labels!"
                    [responsive]="item.chartOptions.responsive!"(chartInit)="onChartInit($event, item)" >
                </apx-chart>
                  </div>
                  <div *ngIf="item.tableData">
                    <table class="table border text-nowrap text-md-nowrap table-striped table-bordered mb-0">
                        <thead style="position: sticky;top: -1px; background-color: #00a5a2;">

                            <!-- <tr>
                            @for(data of TabledataJoining.column_data;track data){
                                <th></th>
                            }

                            </tr> -->
                    
                        </thead>
                        <tbody>
                            <tr>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer p-1">
                    <!-- <button mat-mini-fab (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
                      Delete
                    </button> -->
                  </div>
              </div>
            </gridster-item>
          </gridster>
        </div>
    </div>
</div>






