.cursor{
    cursor: pointer;
}
.bg-1 {
    background-color: #ccedec;
}
.bg-2 {
    background-color: #fff2ef;
}
.bg-3 {
    background-color: #ecffec;
}
.bg-4 {
    background-color: #f7f3fe;
}
.bg-5 {
    background-color: #fff1e5;
}
.bg-6 {
    background-color: #e7f7fc;
}