<p>help-guide works!</p>

<div class="main-container container-fluid mt-5">
    <div class="row" class="card" >
        <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
            <div class="card-body">
                <div class="row">
                   <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-1 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/data.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Data Sources</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-2 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Custom-sql.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Custom sql </h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-3 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Sheets.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Sheets</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-4 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Geeni-AIQ.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Geeni AIQ</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-5 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Card-Dashboard.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Dashboard</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-6 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/List-Users.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Dashboard Privileges</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subCardBg" style="margin-bottom:15px;">
            <div class="card mb-0 suggestions-txt">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <div class="header-title-btn d-flex justify-content-between">
                        <h6 class="fontWeigtug"><a>How to connect to new datasource</a></h6>
                        <!-- <button class="btn btn-secondary ColorCu" type="button">
                            <i aria-hidden="true" class="fa fa-list-ul"></i>&nbsp;Onboarding Partners
                        </button> -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <p class="mb-0">To onboard your partners manually, you can do it one by one, paste your partner list from the clipboard or use our csv template. We recommend using the csv template.
                    <button class="btn btn-primary primaryBtnCu" type="button">
                    <i aria-hidden="true" class="fa fa-eye eyeCu"></i>&nbsp;View</button></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subCardBg" style="margin-bottom:15px;">
            <div class="card mb-0 suggestions-txt">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <div class="header-title-btn d-flex justify-content-between">
                        <h6 class="fontWeigtug"><a>How to drag and drop tables to semantic layer</a></h6>
                        <!-- <button class="btn btn-secondary ColorCu" type="button">
                            <i aria-hidden="true" class="fa fa-list-ul"></i>&nbsp;Onboarding Partners
                        </button> -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <p class="mb-0">To onboard your partners manually, you can do it one by one, paste your partner list from the clipboard or use our csv template. We recommend using the csv template.
                    <button class="btn btn-primary primaryBtnCu" type="button">
                    <i aria-hidden="true" class="fa fa-eye eyeCu"></i>&nbsp;View</button></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subCardBg" style="margin-bottom:15px;">
            <div class="card mb-0 suggestions-txt">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <div class="header-title-btn d-flex justify-content-between">
                        <h6 class="fontWeigtug"><a>How to apply data source filters</a></h6>
                        <!-- <button class="btn btn-secondary ColorCu" type="button">
                            <i aria-hidden="true" class="fa fa-list-ul"></i>&nbsp;Onboarding Partners
                        </button> -->
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allignItemsLeft">
                    <p class="mb-0">To onboard your partners manually, you can do it one by one, paste your partner list from the clipboard or use our csv template. We recommend using the csv template.
                    <button class="btn btn-primary primaryBtnCu" type="button">
                    <i aria-hidden="true" class="fa fa-eye eyeCu"></i>&nbsp;View</button></p>
                </div>
            </div>
        </div>
    </div>
</div>