<p>help-guide works!</p>

<div class="main-container container-fluid mt-5">
    <div class="row" class="card" >
        <div class="col-sm-12 col-lg-12 col-xl-12" style="padding: 0px;">
            <div class="card-body">
                <div class="row">
                   <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-1 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/data.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Data Sources</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-2 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Semantic-Layer.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Semantic Layer </h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-3 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Custom-Query.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Custom Query</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-4 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Charts.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Charts</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-5 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/filters.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Filters</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-6 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Copilot.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">InsightApps Copilot</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-1 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Drag.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Drag and Drop Charts</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-2 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/Card-Dashboard.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">Dashboard</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-4 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/List-Users.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">List Users</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="card bg-3 mb-3 mt-3 cursor">
                            <div class="card-body text-center py-6">
                                <div class="avatar avatar-xl bg-white rounded-4">
                                    <img src="./assets/images/Tiled view sheet icons/List Roles.jpg" alt="" class="rounded-circle">
                                </div>
                                 <div class="mt-3">
                                     <h6 class="text-dark mb-1">List Roles</h6>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>