<app-page-header title="Data Source" title1="Pages" activeitem="Profile"></app-page-header>
<!-- CONTAINER -->
<div class="card-body">
  <div class="card-content btn-list">
      <button type="button" class="btn btn-primary" (click)="Openmdo(mdo)" data-bs-toggle="modal" data-bs-target="#inputModal" data-bs-whatever="&#64;mdo">PostgreSQL</button>
      <button type="button" class="btn btn-primary" (click)="Openfat(fat)" data-bs-toggle="modal" data-bs-target="#inputModal" data-bs-whatever="&#64;fat">MySQL</button>
    </div>
</div>
<ng-template #mdo let-modal >

  <div  >
    <div >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="inputModalLabel">PostgreSQL</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-2">
              <label for="recipient-name" class="col-form-label">Server:</label>
              <input type="text" class="form-control" [(ngModel)]="postGreServerName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Port:</label>
              <input type="text" class="form-control" [(ngModel)]="postGrePortName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-2">
              <label class="col-form-label">Database:</label>
              <input type="text" class="form-control" [(ngModel)]="postGreDatabaseName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-2">
              <label class="col-form-label">Username:</label>
              <input type="text" class="form-control" [(ngModel)]="postGreUserName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="mb-2">
              <label class="col-form-label">Password:</label>
              <input type="text" class="form-control" [(ngModel)]="PostGrePassword" [ngModelOptions]="{standalone: true}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
          <button type="button" class="btn btn-primary" (click)="postgreSignIn()">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #fat let-modal >

  <div  >
    <div >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="inputModalLabel">MySQL</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close('cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-2">
              <label for="recipient-name" class="col-form-label">Server:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Port:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Database:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Authentication:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Username:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-2">
              <label for="message-text" class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close('cross click')">Close</button>
          <button type="button" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- CONTAINER CLOSED -->