<div class="main-container container-fluid mt-5">
        <!-- ROW-1 OPEN -->
        <div class="row ">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center m-2">
                            <!-- <img class="me-2 w-40p" src="./assets/images/icons/1.png" alt=""> -->
                            <div>
                                <h5 class="card-title mb-0">Transformations Layer</h5>
                                <!-- <p class="mb-0 text-muted">Last Updated Jan 27, 2023</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-lg-flex d-block">
                            <div class="col-3 p-4 border-end" [ngStyle]="{ 'display': isOpen ? 'block' : 'none' }">
                                <div class="card mb-0 connections-layer-h">
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" id="vertical-tab" role="tablist" aria-orientation="vertical">
                                        <div
                                        ngbAccordion
                                        [closeOthers]="true"
                                        class="accordion border-0"
                                        id="accordionExample"
                                        >
                                        @for (default of defaults; track default) {
                                          <div
                                            ngbAccordionItem
                                            [collapsed]="default !== 'First'"
                                            class="accordion-item"
                                            >
                                            <h2 ngbAccordionHeader class="accordion-header" id="headingOne">
                                              <button
                                                ngbAccordionButton
                                                class="accordion-button py-3 px-3"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne"
                                                aria-expanded="true"
                                                aria-controls="collapseOne"
                                                >
                                                <i class="fa fa-plug ms-2 plug-icon"></i>
                                                Connections
                                              </button>
                                            </h2>
                                            <div
                                              ngbAccordionCollapse
                                              id="collapseOne"
                                              class="accordion-collapse collapse show"
                                              aria-labelledby="headingOne"
                                              data-bs-parent="#accordionExample"
                                              >
                                              <div class="accordion-body p-0" ngbAccordionBody>
                                                <ng-template>
                                                    <div class="px-3 py-2 br-0 mb-0 border-bottom d-block">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <h6 class="mb-0">{{databaseName}}</h6>
                                                            <!-- <i class="bi-plus-circle plus-icon"></i> -->
                                                        </div>
                                                        <p class="mb-0">{{schema}}</p>
                                                    </div>
                                                    <!-- <div class="mb-0 px-3 py-2 br-0 border-bottom">
                                                        <h6 class="mb-0">Database</h6>
                                                        <p class="mb-0">XShop</p>
                                                    </div> -->
                                                    <div class="input-group mt-2 px-3">
                                                        <input type="text" placeholder="Search" [(ngModel)]="searchText" (input)="getFilteredTables()" class="form-control border">
                                                        <button type="button" aria-label="button" class="btn input-group-text btn-primary tx-fixed-white border-start-0" (click)="getFilteredTables()">
                                                            <i aria-hidden="true" class="fe fe-search"></i>
                                                        </button>
                                                    </div>
                                                   
                                                    <div class="data-cdk-tables px-3 mt-2">
                                                        <ul cdkDropList 
                                                        #sourceList="cdkDropList" 
                                                        [cdkDropListData]="tables" 
                                                        [cdkDropListConnectedTo]="[destinationList]"
                                                        (cdkDropListDropped)="drop($event)">
                                                            <h6 class="mb-0">Tables</h6>
                                                            <li *ngFor="let table of tables" cdkDrag
                                                                class="cdk-drag sub-menu-item example-box subMenuFlex p-2 border rounded-3 mb-1 cursor-move">
                                                                <i class="fa fa-table table-icon-p me-1"></i>
                                                                <span>{{ table?.tables }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </ng-template>
                                              </div>
                                            </div>
                                          </div>
                                        }
                                      </div>
                                     
                                        <!-- <li [ngbNavItem]="2" className="nav-link text-start " id="vertical-accept-tab"><a ngbNavLink ><i class="fa fa-gears me-2"></i>Transformations</a>
                                            <ng-template ngbNavContent>
                                                <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                    <h5><b> Terms :</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                     truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                    <h5><b>Using Our Services</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                    truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                    <h5><b>Privacy policy</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                     truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3" className="nav-link text-start " id="vertical-cancellation-tab"><a ngbNavLink ><i class="fa fa-code me-1"></i> Querying & Scripting</a>
                                            <ng-template ngbNavContent>
                                                <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-cancellation-tab" tabindex="0">
                                                   <div class="border rounded-3">
                                                        <div class="card-header bg-light d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center ">
                                                                <h6 class="mb-0 me-2">Result Preview</h6>
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <textarea placeholder="Enter your SQL query here" class="query-text query-text-h p-2"></textarea>
                                                        </div>
                                                   </div>
                                                   <div class="border rounded-3">
                                                        <div class="card-header bg-light d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center ">
                                                                <h6 class="mb-0 me-2">Result Preview</h6>
                                                            </div>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <textarea placeholder="Enter your SQL query here" class="query-text query-text-h p-2"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="4" className="nav-link text-start " id="vertical-privacy-tab"><a ngbNavLink ><i class="pe-7s-graph1 me-2"></i> DAG Flow</a>
                                            <ng-template ngbNavContent>
                                                <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                    <h5><b> Terms :</b></h5>
                                                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                            <h5><b>Using Our Services</b></h5>
                                                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                            <h5><b>Privacy policy</b></h5>
                                                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                            <h5><b>Copyright </b></h5>
                                                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                            truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                </div>
                                            </ng-template>
                                        </li> -->
                                    </ul>
                                </div>
                               
                            </div>
                            <div class="col-9 py-0">
                                <div type="button" class="card mb-0 hide-show-btn btn-primary" (click)="isOpen = !isOpen">
                                    <i *ngIf="isOpen" class="fa fa-angle-left fs-18"></i>
                                    <i *ngIf="!isOpen" class="fa fa-angle-right fs-18"></i>
                                </div>
                                <div class="tab-content terms" id="vertical-tabContent">
                                    <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 p-0"> -->
                                        <!-- <div class="card card-body databse-T-H mb-0 br-0 p-0"> -->
                                            <div class="card-body example-list-drop mb-0 py-0" cdkDropList #destinationList="cdkDropList"
                                                [cdkDropListData]="draggedTables" (cdkDropListDropped)="drop($event)">
                                        
                                                @for (item of draggedTables; track item; let index = $index) {
                                                    <div class="d-flex overflow-auto">
                                                      <!-- Table Element -->
                                                      <div class="example-box p-2 border border-dark-subtle rounded-3 mb-1 cursor-auto table-width d-flex align-items-center " ngbDropdown>
                                                      

                                                        <div class="d-flex  end-0 gap-1 m-1">
                                                            <span class="flex-grow-1" ngbTooltip="{{ item.tables }}" placement="top" container="body">
                                                                {{ item.tables | slice:0:14 }}
                                                              </span>
                                                            <a (click)="removeTable(index)" aria-label="remove" class="btn btn-sm btn-danger-light rounded-circle plus-icon-size">
                                                                <i class="fe fe-trash"></i>
                                                            </a>
                                                            <a *ngIf="!(selectedTransformations[index]?.length > 0)" aria-label="add"
                                                                class="btn btn-sm btn-primary rounded-circle plus-icon-size" (click)="addNewTransform(index)">
                                                                <i class="fe fe-plus text-white text-sm"></i>
                                                            </a>
                                                        </div>  
                                                      </div>
                                                      <!-- Transformation Chain -->
                                                      @for (transformationtable of selectedTransformations[index]; let transformationIndex = $index; track transformationtable) {
                                                        <img src="../../../../assets/images/data-transformation/right_arrow.png" class="image-width" alt="arrow image">
                                                  
                                                        <div class="example-box p-2 border rounded-3 mb-1 cursor-auto table-width d-flex align-items-center " [ngClass]="selectedTransformations?.[index]?.[transformationIndex]?.isError ? 'border-danger' : 'border-dark-subtle'"
                                                            ngbDropdown #dropdownRef="ngbDropdown">
                                                            <span class="flex-grow-1" ngbTooltip="{{ selectedTransformations?.[index]?.[transformationIndex]?.isError ? 'This transformation is INCOMPLETE' : selectedTransformations[index][transformationIndex].key }}" placement="top"
                                                                container="body">
                                                                {{ selectedTransformations[index][transformationIndex].key | slice:0:13 }}
                                                            </span>
                                                        
                                                        
                                                            <div class="d-flex  end-0 gap-1 m-1">
                                                                <a aria-label="edit" class="btn btn-sm btn-primary-light rounded-circle plus-icon-size" ngbDropdownToggle
                                                                    data-bs-toggle="dropdown">
                                                                    <i class="fe fe-edit"></i>
                                                                </a>
                                                                <a (click)="removeTransformation(index, transformationIndex)" aria-label="remove"
                                                                    class="btn btn-sm btn-danger-light rounded-circle plus-icon-size">
                                                                    <i class="fe fe-trash"></i>
                                                                </a>
                                                                <a *ngIf="transformationIndex === this.selectedTransformations[index]?.length - 1" aria-label="add" [class.disabled]="!(selectedTransformations[index][transformationIndex].key || selectedTransformations[index][transformationIndex].dropdown) || ( ['replace_values','alter_datatypes'].includes(selectedTransformations[index][transformationIndex].key) && !selectedTransformations[index][transformationIndex].input)"
                                                                    class="btn btn-sm btn-primary rounded-circle plus-icon-size" (click)="addNewTransform(index)">
                                                                    <i class="fe fe-plus text-white text-sm"></i>
                                                                </a>
                                                            </div>

                                                          <!-- Show Dropdown ONLY on the Last Transformation -->
                                                          <!-- <a *ngIf="isLastTransformation(index, transformationIndex)" 
                                                             aria-label="anchor" class="btn btn-sm btn-primary rounded-circle  bottom-0 end-0 m-1 plus-icon-size"
                                                             ngbDropdownToggle data-bs-toggle="dropdown">
                                                            <i class="fe fe-plus text-white text-sm"></i>
                                                          </a> -->
                                                          <ul class="dropdown-menu custom-dropdown" ngbDropdownMenu>
                                                            @for (transformation of transformationTypes; track transformation.key) {
                                                                @if(transformation.needColumn){
                                                                <div class="dropup d-flex text-center" ngbDropdown>
                                                                    <li class="btn btn-primary-light border transformations-dropdown" ngbDropdownItem> {{ transformation.label }} </li>
                                                                    <i class="btn btn-primary-light border fe fe-chevron-right fs-18 text-body-secondary dropdown-toggle inline-block"
                                                                        ngbDropdownToggle data-bs-toggle="dropdown"></i>
                                                                        <ul class="dropdown-menu custom-dropdown nested-dropdown" ngbDropdownMenu>
                                                                            <div class="p-2">
                                                                                <label class="form-label">Select Column <span  class="text-red">*</span><i ngbTooltip="Select a column" container="body" class="icon icon-info ms-1 cursor-pointer"></i>
                                                                                </label>
                                                                            <select class="form-select" (change)="setTransformationType(index, transformation.key, $event, true, false,transformationIndex)">
                                                                                <option selected disabled>Select Column</option>
                                                                                @for(column of item.columns; track column){
                                                                                    <option *ngIf="(transformation.key == 'alter_datatypes' && !dateList.includes(column.dtype)) || (['upper', 'lower', 'title'].includes(transformation.key) && stringList.includes(column.dtype)) || !['alter_datatypes', 'upper', 'lower', 'title'].includes(transformation.key)"  [value]="column.col">{{column?.col}}</option>
                                                                                } 
                                                                            </select>
                                                                            </div>
                                                                            <div class="p-2">
                                                                                <input [disabled]="!(selectedTransformations[index][transformationIndex].key || selectedTransformations[index][transformationIndex].dropdown)" *ngIf="transformation.key == 'replace_values'" type="text" placeholder="Enter Replace Value" (blur)="setTransformationType(index, transformation.key, $event, false, true,transformationIndex)" class="form-control border">
                                                                                <select [disabled]="!(selectedTransformations[index][transformationIndex].key || selectedTransformations[index][transformationIndex].dropdown)" *ngIf="transformation.key == 'alter_datatypes'" class="form-select" (change)="setTransformationType(index, transformation.key, $event, false, true,transformationIndex)">
                                                                                    <option selected disabled>Select Data Type</option>
                                                                                    <option value="int">Integer</option>
                                                                                    <option value="float">Float</option>
                                                                                    <option value="string">String</option>
                                                                                </select>
                                                                            </div>
                                                                        </ul>
                                                                </div>
                                                                } @else{
                                                                <li class="btn btn-primary-light border transformations-dropdown" ngbDropdownItem
                                                                (click)="setTransformationType(index, transformation.key, null,false, false,transformationIndex)">
                                                                    <a> {{ transformation.label }} </a>
                                                                </li>
                                                                }
                                                            }
                                                          </ul>
                                                        </div>
                                                      }
                                                    </div>
                                                }                                                  
                                                @if (draggedTables.length === 0) {
                                                <h6 class="fs-12 mt-2 mb-0 drag-txt">Drag tables here</h6>
                                                }
                                            </div>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                    <div [ngbNavOutlet]="nav" ></div>                           
                                </div>
                            </div>
                        </div>
                           
                    </div>
                    <div class="card-footer p-3">
                        <div class="float-end d-inline-block btn-list">
                            <a class="btn btn-primary" [class.disabled]="isApplyDisable" (click)="setTransformations(false)">Import & Load</a>
                            <!-- <a class="btn btn-secondary" (click)="getValue()">Agree and Continue</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-1 CLOSE -->
</div>