<p>data-transformation works!</p>

<div class="main-container container-fluid mt-5">
        <!-- ROW-1 OPEN -->
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center m-2">
                            <!-- <img class="me-2 w-40p" src="./assets/images/icons/1.png" alt=""> -->
                            <div>
                                <h5 class="mb-0"><b>Transformations Layer</b></h5>
                                <!-- <p class="mb-0 text-muted">Last Updated Jan 27, 2023</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-lg-flex d-block">
                            <div class="col-3 p-2 border-end">
                                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills" id="vertical-tab" role="tablist" aria-orientation="vertical">
                                    <li [ngbNavItem]="1" className="nav-link text-start" id="vertical-terms-tab"><a ngbNavLink ><i class="fa fa-plug me-2"></i> Connections</a>
                                        <ng-template ngbNavContent>
                                            <div class="tab-pane " id="vertical-terms" role="tabpanel" aria-labelledby="vertical-terms-tab" tabindex="0">
                                                <div class="table-responsive border table-responsive-height ">
                                                    <table class="table  text-nowrap text-md-nowrap mb-0">
                                                        <thead class="table-primary bg-primary table-primary-position">
                                                            <tr>
                                                                <th>Data</th>
                                                                <th>Database</th>
                                                                <th>Created at</th>
                                                                <th>Last Modified</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>untitled_MTExNw</td>
                                                                <td>halops_528</td>
                                                                <td>2024-12-30</td>
                                                                <td>2024-12-30</td>
                                                                <td>
                                                                    <div class="hstack gap-2 fs-1">
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-edit-line"></i></a>
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-delete-bin-7-line"></i>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>untitled_MTExOA</td>
                                                                <td>halops_528</td>
                                                                <td>2024-12-30</td>
                                                                <td>2024-12-30</td>
                                                                <td>
                                                                    <div class="hstack gap-2 fs-1">
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-edit-line"></i>
                                                                        </a>
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-delete-bin-7-line" ng-reflect-ngb-tooltip="Delete database"></i>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>untitled_MTExOA</td>
                                                                <td>halops_528</td>
                                                                <td>2024-12-30</td>
                                                                <td>2024-12-30</td>
                                                                <td>
                                                                    <div class="hstack gap-2 fs-1">
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-edit-line"></i>
                                                                        </a>
                                                                        <a aria-label="anchor" class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                                                            <i class="ri-delete-bin-7-line" ng-reflect-ngb-tooltip="Delete database"></i>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                          </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2" className="nav-link text-start " id="vertical-accept-tab"><a ngbNavLink ><i class="fa fa-gears me-2"></i>Transformations</a>
                                        <ng-template ngbNavContent>
                                            <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                <h5><b> Terms :</b></h5>
                                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                 truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                <h5><b>Using Our Services</b></h5>
                                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                <h5><b>Privacy policy</b></h5>
                                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                 truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3" className="nav-link text-start " id="vertical-cancellation-tab"><a ngbNavLink ><i class="fa fa-code me-2"></i> Querying & Scripting</a>
                                        <ng-template ngbNavContent>
                                            <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-cancellation-tab" tabindex="0">
                                               <div class="border rounded-3">
                                                    <div class="card-header bg-light d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center ">
                                                            <h6 class="mb-0 me-2">Result Preview</h6>
                                                        </div>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <textarea placeholder="Enter your SQL query here" class="query-text query-text-h p-2"></textarea>
                                                    </div>
                                               </div>
                                               <div class="border rounded-3">
                                                    <div class="card-header bg-light d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center ">
                                                            <h6 class="mb-0 me-2">Result Preview</h6>
                                                        </div>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <textarea placeholder="Enter your SQL query here" class="query-text query-text-h p-2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li [ngbNavItem]="4" className="nav-link text-start " id="vertical-privacy-tab"><a ngbNavLink ><i class="pe-7s-graph1 me-2"></i> DAG Flow</a>
                                        <ng-template ngbNavContent>
                                            <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                <h5><b> Terms :</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                        <h5><b>Using Our Services</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                        <h5><b>Privacy policy</b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                        <h5><b>Copyright </b></h5>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                        truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                            </div>
                                        </ng-template>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-9 p-2">
                                <div class="tab-content terms" id="vertical-tabContent">                                 
                                    <div [ngbNavOutlet]="nav" ></div>
                                </div>
                            </div>
                        </div>
                           
                    </div>
                    <div class="card-footer">
                        <div class="float-end d-inline-block btn-list">
                            <a class="btn btn-primary">Decline</a>
                            <a class="btn btn-secondary">Agree and Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ROW-1 CLOSE -->
</div>