<app-page-header title="ETL List" moduleId="etlList" title1="Home" activeitem="ETL List"></app-page-header>


<div class="main-container container-fluid TopHeader">

    <div class="row" class="card card-padding-top">
        <div class="col-sm-12 col-lg-12 col-xl-12 p-0">
            <div class="d-flex justify-content-between px-5">
                <div class="connect-txt">
                    <h4 class="card-title mt-2">Saved ETL</h4>
                </div>
                <div class="new-data-btn d-flex text-align-center">
                    <button *ngIf="gridView" type="button" ngbTooltip="Grid View"
                        class="btn btn-icon btn-outline-primary me-1"><i class="fa fa-th-large"></i></button>
                    <button *ngIf="gridView" type="button" ngbTooltip="Table View" (click)="gridView=false"
                        class="btn btn-icon btn-primary-light me-3"><i class="fa fa-th-list"></i></button>

                    <button *ngIf="!gridView" type="button" ngbTooltip="Grid View" (click)="gridView=true"
                        class="btn btn-icon btn-primary-light me-1"><i class="fa fa-th-large"></i></button>
                    <button *ngIf="!gridView" type="button" ngbTooltip="Table View"
                        class="btn btn-icon btn-outline-primary me-3"><i class="fa fa-th-list"></i></button>


                    <div class="input-group">
                        <select class="form-select form-select select2 fs-14 form-control border-end me-3">
                            <option value="all">All</option>
                            <option value="dataFlow">Data Flow</option>
                            <option value="jobFlow">Job Flow</option>
                        </select>
                        <input type="text" class="form-control border-end-0 " placeholder="Search"
                            aria-describedby="button-addon2" [(ngModel)]="search" (keyup.enter)="getDataFlowList()">
                        <button class="btn btn-primary border me-2 search-icon-border-radius" type="button" (click)="getDataFlowList()"
                            id="button-addon2"><i class="fe fe-search "></i></button>

                        <button class="btn btn-primary new-sheet-btn-radius me-2" (click)="goToDataFlow()">
                            <i class="fe fe-plus me-1"></i>New Data Flow
                        </button>
                        <button class="btn btn-primary new-sheet-btn-radius">
                            <i class="fe fe-plus me-1"></i>New Job Flow
                        </button>
                    </div>
                </div>
            </div>
            <!-- <div>
                No Sheets to display!
            </div>
            <div>
                You don't have permission to view!
            </div> -->
            <div class="card-body">
                @if(!gridView){
                <div class="table-responsive border table-responsive-height">
                    <table class="table border text-nowrap text-md-nowrap mb-0">
                        <thead class="table-primary bg-primary table-primary-position">
                            <tr>
                                <th>Title</th>
                                <th>Created At</th>
                                <th>Last Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(dataFlow of dataFlowList; track dataFlow; let index = $index){
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <div class="imgdf">
                                            <img src="./assets/images/charts/post-tiled-icon.jpg" alt="postgresql data flow"
                                                class="w-7 h-7 border rounded-3  me-4">
                                        </div>
                                        <div class="content">
                                            <span>DataFlow Name: </span>
                                            <a class="cursor-pointer" [ngbTooltip]="dataFlow.data_flow_name" (click)="editDataFlow(dataFlow.id)"> {{dataFlow.data_flow_name}} </a>
                                        </div>
                                    </div>
                                </td>
                                <td> {{dataFlow.created_at | slice: 0: 10}} </td>
                                <td> {{dataFlow.updated_at | slice: 0: 10}} </td>
                                <td>
                                    <div class="hstack gap-2 fs-1">
                                        <button class="btn btn-icon btn-sm btn-info-light btn-wave waves-effect waves-light" (click)="editDataFlow(dataFlow.id)">
                                            <i class="ri-edit-line"></i>
                                        </button>
                                        <button class="btn btn-icon btn-sm btn-danger-light btn-wave waves-effect waves-light">
                                            <i class="ri-delete-bin-7-line"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                }
                @if(gridView){
                <div class="row">
                    @for(dataFlow of dataFlowList; track dataFlow; let index = $index){
                    <div class="col-md-12 col-xl-3">
                        <div class="card card-box-shadow ">
                            <div class="card-header tiled-header-bg bg-primary tiled-card-header-padding">
                                <div class="d-sm-flex align-items-center">
                                    <div class="user-image">
                                        <span class="avatar avatar rounded-circle">
                                            <img src="./assets/images/charts/post-tiled-icon.jpg" alt="postgresql data flow"
                                                class="rounded-circle">
                                        </span>
                                    </div>
                                    <div class="ms-2 mt-sm-0 mt-2">
                                        <h6 class="mb-1">
                                            <a [ngbTooltip]="dataFlow.data_flow_name" class="float-start" (click)="editDataFlow(dataFlow.id)"> {{dataFlow.data_flow_name}} </a>
                                        </h6>
                    
                                    </div>
                                </div>
                    
                                <div class="col-auto">
                                    <div class="d-flex justify-content-end p-1" ngbDropdown>
                                        <a href="javascript:void(0);" data-bs-toggle="dropdown" role="button" ngbDropdownToggle
                                            aria-haspopup="true" aria-expanded="false" class=""><i
                                                class="fe fe-more-vertical fs-18 text-body-secondary"></i>
                                        </a>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <a class="dropdown-item"><i class="fe fe-edit me-2 d-inline-flex" (click)="editDataFlow(dataFlow.id)"></i>
                                                edit</a>
                                            <a class="dropdown-item  btn btn-secondary-light"><i class="fe fe-trash me-2 d-inline-flex"></i>
                                                delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body tiled-card-body-padding">
                                <div class="row">
                    
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="fw-semibold fs-14">Created At: </span>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="fs-14"> {{dataFlow.created_at | slice: 0: 10}} </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="fw-semibold fs-14">Last Modified: </span>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="fs-14"> {{dataFlow.updated_at | slice: 0: 10}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                }
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                    (pageChange)="pageChangegetUserSheetsList((page = $event))"></pagination-controls>
                <div class="pagination-count">
                    <select class="form-control cursor-pointer">
                        <option value="10"> 10</option>
                        <option value="20"> 20</option>
                        <option value="30"> 30</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
</div>